[2014-04-28 13:29] ChrisKujawa opened #1 "Deserialisierung"
Deserialisierung der csv Datei in Graphen

[2014-04-28 13:31] ChrisKujawa opened #2 "Serialisierung"
Serialisierung des Graphen in eine csv Datei.

[2014-04-28 13:32] ChrisKujawa opened #3 "Graph & Node Implementierung"
Implementierung des Graphen und der Node Klasse.

[2014-04-28 13:36] ChrisKujawa opened #4 "Rail Code Parsen"
Railprogramm in Graph parsen.

[2014-04-28 13:39] ChrisKujawa opened #5 "Definition Rail Funktionen"
Definition der Namen fuer die einzelnen Rail funktionen.

[2014-04-28 13:43] ChrisKujawa opened #6 "Rail Testprogramme"
Zum Testen des compilers neue Rail Programme schreiben.

[2014-04-28 13:49] ChrisKujawa opened #7 "Code Qualitaet Kontrolle"
Einfaches pruefen des Quellcodes ob Verbesserungen notwendig sind.

[2014-05-04 12:03] ChrisKujawa commented on #1
3d686f0414369d1f84c32591ecadcf93b09e4838 git commit

[2014-05-12 19:29] jdettlaff opened #8 "Backend: Generierung Liste Stringkonstanten + Bytecode main aus Graphs"

[2014-05-12 19:30] jdettlaff opened #9 "Backend: Methoden in class-File überführen"
Methoden in class-File schreiben per ClassfileWriter::WriteMethods()

[2014-05-12 19:31] jdettlaff opened #10 "Backend: Impl. ConstantPool + ClassfileWriter::WriteConstantPool()"

[2014-05-12 19:33] jdettlaff opened #11 "Backend: Impl. sonstige ClassfileWriter-Methoden"
WriteAccessFlags()
WriteClassName()

[2014-05-12 19:49] jdettlaff opened #12 "Schnittstelle Backend an neue Graphs-Klasse + Demarsh. anpassen"

[2014-05-12 22:41] mbaeten opened #13 "GraphViz Visualization"
Visualize Graph(s) as graphviz dotfile

[2014-05-13 19:21] #3 closed, assigned to hanintalal

[2014-05-13 19:22] #1 closed, assigned to ChrisKujawa

[2014-05-15 07:45] #13 closed, assigned to mbaeten

[2014-05-15 07:45] mbaeten commented on #13
Done

[2014-05-15 07:45] mbaeten commented on #2
Done

[2014-05-15 07:45] #2 closed, assigned to mbaeten

[2014-05-15 07:46] mbaeten commented on #4
Done

[2014-05-15 07:46] #4 closed, assigned to leonbornemann

[2014-05-16 08:24] ChrisKujawa opened #14 "Documentation Graphs + Graph"

[2014-05-16 20:08] leonbornemann opened #15 "hello-world-kompliziert zum Laufen bringen"

[2014-05-16 20:09] leonbornemann opened #16 "Parser-Code Dokumentation und Lesbarkeit verbessern"

[2014-05-17 09:12] kretzschi opened #17 "Backend: Attribute in class-File überführen"
Attribute in class-File schreiben per ClassfileWriter::WriteAttributes()

[2014-05-17 09:56] mbaeten opened #18 "Frontend-Parser: Integers implementieren"

[2014-05-17 09:57] mbaeten opened #19 "Frontend-Parser: Verzweigungen implementieren"

[2014-05-17 15:41] #12 closed, assigned to vincentbohlen

[2014-05-19 14:40] #15 closed, assigned to leonbornemann

[2014-05-19 14:45] leonbornemann opened #20 "add 'x' as valid rail at the right places"

[2014-05-20 09:51] kretzschi opened #21 "Backend-Code Dokumentation und Lesbarkeit verbessern"

[2014-05-21 18:17] mbaeten opened #22 "Frontend: utf-8 - Machbarkeit abschätzen"

[2014-05-21 18:19] mbaeten opened #23 "Frontend-Parser: Rail-Funktionsaufrufe implementieren"

[2014-05-21 18:20] mbaeten commented on #5
Siehe Datei: /home/mubu/repos/fuSwpUb14/konzepte/Railbefehle Uebersicht

[2014-05-21 18:20] #5 closed, assigned to KosticS

[2014-05-21 18:23] mbaeten opened #24 "Frontend: Prüfen, was Lambda '&' ist"
Evtl Mail an Entwickler schicken

http://esolangs.org/wiki/Rail

[2014-05-22 14:34] leonbornemann opened #25 "Rail 'a' (add) in JVM Bytecode umwandeln"

[2014-05-22 18:01] ChrisKujawa opened #26 "Documentation Graphs class"

[2014-05-22 18:03] ChrisKujawa commented on #26
duplicate

[2014-05-22 18:03] #26 closed, assigned to ChrisKujawa

[2014-05-22 21:04] ChrisKujawa commented on #14
done

[2014-05-22 21:04] #14 closed, assigned to ChrisKujawa

[2014-05-23 07:22] vincentbohlen opened #27 "Einarbeiten in Variablen, Stacks, etc in JVM Bytecode"

[2014-05-23 07:23] #11 closed, assigned to vincentbohlen

[2014-05-25 15:16] hanintalal commented on #19
ich habe den Code geschrieben aber mein Problem nun ist , dass ich nicht weiss genau wie ich das Program zum Laufen bringe,damit ich meinen Code pruefen kann ?
kann eine von euch ein klein Tipps im Readme File schreiben ?

[2014-05-25 18:54] mbaeten commented on #19
Die Anleitung für Eclipse ist im git -> tutorials und funktioniert
einwandfrei mit Eclipse 3.8 (Juno) und 4.3.x (Kepler). Wenn das nicht
klappt, kannst du dich gerne nochmal bei mir melden.

Am 25.05.2014 17:16, schrieb hanintalal:

[2014-05-25 20:52] ChrisKujawa opened #28 "Symboltabelle Graph Interface"

[2014-05-26 09:00] ChrisKujawa opened #29 "Add for reverted brackets unmarshalling (like ] [ and } {)"

[2014-05-26 09:01] #29 closed, assigned to nobody

[2014-05-26 12:01] #28 closed, assigned to ChrisKujawa

[2014-05-26 12:55] leonbornemann opened #30 "Überprüfen Ob Parser.cpp in mehrere Dateien aufteilbar"

[2014-05-26 12:57] leonbornemann opened #31 "Git unter Linux zum laufen bringen ;)"
Etwas peinlich, dass ich das bisher noch umständlich über hinundherkopieren mit Windows gelöst habe :)

[2014-05-26 14:18] #31 closed, assigned to leonbornemann

[2014-05-26 18:41] vincentbohlen opened #32 "Create raw methods for arithmetic operations"
Raw methods + simple inplementation (without constant pool refs)

[2014-05-26 18:55] ccebinger opened #33 "Tutorials lesen zu Unit Testing"

[2014-05-26 19:04] KosticS opened #34 "Verhalten von Junktions als Rails untersuchen"
Werden die Junktions < ,>, ^ und v auch als Rails verwendet oder nur als 'ifs' ?

[2014-05-27 10:08] ChrisKujawa opened #35 "Add start node $ in ASG"

[2014-05-27 10:08] ChrisKujawa opened #36 "Adjust marshalling/unmarshalling for start node $"

[2014-05-27 10:11] ChrisKujawa opened #37 "Adjust parser - add correct command types to the nodes"

[2014-05-27 17:37] hanintalal commented on #34
ich habe sie als Verzweigung geschrieben ,das was  du meinst  oder was anderes?

[2014-05-27 18:54] KosticS commented on #34
@ Hanin : Als Verzweigung ist schon richtig :) . Ich meinte etwas anderes. Du musst dir also keine Sorgen machen.

[2014-05-28 07:33] kretzschi commented on #27
Hier mal noch ne schöne Übersicht: http://blog.jamesdbloom.com/JVMInternals.html

[2014-05-28 07:43] kretzschi opened #38 "Backend: Arithmetische Operationen implementieren"
1. erkennen der Operation in bytecode_generator.cpp
2. überführen der Operation in class-file

[2014-05-28 08:20] kretzschi opened #39 "Backend: CP-counts implementieren"
Methoden zum Erfragen der Anzahl der Elemente im constant pool implementieren.
Beinhaltet folgende counts:
1. constant_pool_count
2. interfaces_count*
3. fields_count*
4. methods_count
5. attributes_count

*gibt es nicht in Rail

[2014-05-28 08:31] kretzschi opened #40 "Backend: Attribute in class-file durcharbeiten"
Quelle: http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.7

[2014-05-28 17:53] leonbornemann commented on #30
Scheint nicht lohnend zu sein

[2014-05-28 17:53] #30 closed, assigned to leonbornemann

[2014-05-28 17:56] #20 closed, assigned to hanintalal

[2014-05-28 17:57] leonbornemann opened #41 "Frontend-Parser: Verzweigungen implementieren"
In Kooperation mit hanin, daher zwei Tickets mit gleichem namen

[2014-05-28 17:58] #41 closed, assigned to leonbornemann

[2014-05-28 18:03] leonbornemann commented on #16
Doku ist nie so gut wie sie sein kann, aber besser ist sie auf jeden fall geworden, daher: closed :)

[2014-05-28 18:03] #16 closed, assigned to leonbornemann

[2014-05-28 19:02] mauriceAlthoff commented on #39
Funktion ist Implementiert. Sie heist:

size_t ConstantPool::countItemType(ItemType type)

Die Typen sind wie folgt definiert:
enum ItemType{
  CLASS = 7,
  FIELD = 9,
  METHOD = 10,
  IMETHOD = 11,
  UTF8 = 1,
  STR = 8,
  INT = 3,
  LONG = 5
};

[2014-05-28 19:02] #39 closed, assigned to mauriceAlthoff

[2014-05-28 19:26] leonbornemann opened #42 "Refactor Parser: x-> row, y->col"
Refactor the confusing variable names to more intuitive ones, including the maps

[2014-05-28 19:46] mbaeten commented on #42
<- Did it

[2014-05-28 19:46] #42 closed, assigned to mbaeten

[2014-05-29 13:54] mbaeten commented on #22
Machbar für valide UTF-8 Eingaben (invalide utf-8 dateien/Strings zerstören potentiell die Schienen)

[2014-05-29 13:54] #22 closed, assigned to mbaeten

[2014-05-29 13:56] mbaeten opened #43 "Frontend: UTF-8 für Lexer"

[2014-05-29 13:59] mbaeten opened #44 "Frontend: UTF-8 für (de)serialize"

[2014-05-29 14:03] mbaeten opened #45 "Frontend: UTF-8 für Parser"

[2014-05-29 18:48] #45 closed, assigned to mbaeten

[2014-05-29 18:48] #43 closed, assigned to mbaeten

[2014-05-29 18:54] mbaeten commented on #44
No need to change these by now (both tested & working)

[2014-05-29 18:54] #44 closed, assigned to mbaeten

[2014-05-30 15:09] #23 closed, assigned to mbaeten

[2014-05-30 15:54] jdettlaff commented on #8
Done!

[2014-05-30 15:54] #8 closed, assigned to jdettlaff

[2014-05-30 15:59] jdettlaff opened #46 "Fehler in class-File: Unknown constant tag 0 in class file"
Exception in thread "main" java.lang.ClassFormatError: Unknown constant tag 0 in
 class file.
(Der erste Constantpool-Eintrag scheint tatsächlich mit einem nil-Byte zu starten).

[2014-05-30 16:09] mbaeten opened #47 "Frontend: bool t und f implementieren"

[2014-05-30 16:10] mbaeten opened #48 "Frontend: true, false 0,... ,9 in Gleisen als push implementieren"

[2014-05-30 16:24] #48 closed, assigned to mbaeten

[2014-05-30 16:33] mbaeten commented on #18
Das macht so keinen Sinn. Im Frontend gibt es keine Unterscheidung zwischen string, int und bool. "Int" und "Bool" sind inzwischen bereits implementiert (siehe Parser -> switch-case ~Zeile 193)

[2014-05-30 16:33] #18 closed, assigned to KosticS

[2014-05-30 16:33] mbaeten commented on #47
done with #48

[2014-05-30 16:33] #47 closed, assigned to mbaeten

[2014-05-30 16:36] mbaeten opened #49 "Frontend: Arithmetische Operationen implementieren"

[2014-05-30 16:45] #49 closed, assigned to mbaeten

[2014-05-31 16:24] #34 closed, assigned to KosticS

[2014-05-31 16:31] KosticS opened #50 "String Operationen implementieren"

[2014-05-31 16:39] ChrisKujawa opened #51 "Read - Java Bytecode basics"

[2014-05-31 16:40] ChrisKujawa commented on #51
http://www.javaworld.com/article/2077233/core-java/bytecode-basics.html

[2014-05-31 17:52] ChrisKujawa commented on #51
OpCode-Table: http://en.wikipedia.org/wiki/Java_bytecode_instruction_listings

[2014-05-31 18:19] ChrisKujawa opened #52 "Add opcode for arithmetic operations"

[2014-05-31 18:59] #50 closed, assigned to nobody

[2014-05-31 19:01] KosticS opened #53 "Junktions-Info"

[2014-05-31 19:18] KosticS commented on #53
Die Infoseite befindet sich im Ordner Konzepte

[2014-05-31 19:18] #53 closed, assigned to KosticS

[2014-05-31 20:26] ChrisKujawa commented on #52
Done.

[2014-05-31 20:26] #52 closed, assigned to ChrisKujawa

[2014-05-31 20:27] ChrisKujawa opened #54 "Add bytecode for string operations"

[2014-06-01 11:31] ChrisKujawa opened #55 "BUG: writeVersionNumber Methode"
Ich hab in der Methode mal per Kommentar meine Loesungsmoeglichkeiten dazugeschrieben vllt kann sich das mal der Verantwortliche ansehen.

Ich hab hier das selbe Problem bei stackoverflow gefunden:
http://stackoverflow.com/questions/5966698/error-use-of-deleted-function

Einfache loesung waere einfach das const beim dem Array-type weg zulassen.

[2014-06-01 11:43] mbaeten opened #56 "Frontend: Junctions: Command::Type anpassen"
1. Überall folgende Types durch JUNCTION ersetzen: EASTJUNC, WESTJUNC, NORTHJUNC, SOUTHJUNC
2. marshall / unmarshall anpassen, sodass junctions immer den Typ JUNCTION erzeugen

[2014-06-01 12:36] jdettlaff commented on #55
Bitte schauen ob es jetzt bei dir kompiliert. Sehr seltsames Problem.

[2014-06-01 12:40] jdettlaff opened #57 "Mit -Wtype-limits kompilieren und die auftretenden Bugs lösen"

[2014-06-01 12:40] jdettlaff opened #58 "(Parser) Mit -Wtype-limits kompilieren und die auftretenden Bugs lösen"

[2014-06-01 12:48] ChrisKujawa opened #59 "Create func_ptr map"
Map contains as key Command::Type and as value a function ptr which creates Bytecode for the operation/Commans.

[2014-06-01 13:05] ChrisKujawa commented on #55
Super compiliert :)

[2014-06-01 13:05] #55 closed, assigned to jdettlaff

[2014-06-01 19:41] kretzschi opened #60 "Rail 'z' (size) in JVM Bytecode umwandeln"
Teil-Issue zu #54

[2014-06-01 19:42] kretzschi opened #61 "Rail 'p' (append) in JVM Bytecode umwandeln"
Teil-Issue zu #54

[2014-06-01 19:43] kretzschi opened #62 "Rail 'c' (cut) in JVM Bytecode umwandeln"
Teil-Issue zu #54

[2014-06-01 20:12] ChrisKujawa opened #63 "Add for each opcode a static field on the bytegen class"

[2014-06-02 11:39] ChrisKujawa commented on #62
<pre><code class="java">
/**
 *
 * @author Christopher Zell <zelldon91@googlemail.com>
 */
public class JavaByteCode {
  public static void main(String[] args) {
    String s = "1234";
    s.substring(0, 2);
    s.substring(2);
  }
}
public class javabytecode.JavaByteCode {
  public javabytecode.JavaByteCode();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/

[2014-06-02 11:39] #62 closed, assigned to ChrisKujawa

[2014-06-02 12:31] ChrisKujawa opened #64 "BUG: Constantpool tag #1"
Wenn ich die  generierte out.class mit javap disassemblen will kommt folgender Fehler:

 javap -c out.class
Error:  error while reading constant pool for out.class: unexpected tag at #1: 0

[2014-06-02 12:32] ChrisKujawa opened #65 "BUG: ClassFile main not found"
Wenn ich out.class ausfuehren will dann findet er die main net?

java out.class
Error: Could not find or load main class out.class

[2014-06-02 12:33] ChrisKujawa commented on #65
$ xxd out.class :

0000000: cafe babe 0000 0033 0007 0010 6a61 7661  .......3....java
0000010: 2f6c 616e 672f 7379 7374 656d 0009 0014  /lang/system....
0000020: 6a61 7661 2e6c 616e 672e 7379 7374 656d  java.lang.system
0000030: 2e6f 7574 000a 001b 4a61 7661 2e69 6f2e  .out....Java.io.
0000040: 7072 696e 7453 7472 6561 6d2e 7072 696e  printStream.prin
0000050: 746c 6e00 0a00 094d 6169 6e2e 6a61 76

[2014-06-02 12:33] ChrisKujawa commented on #64
$ xxd out.class :

0000000: cafe babe 0000 0033 0007 0010 6a61 7661  .......3....java
0000010: 2f6c 616e 672f 7379 7374 656d 0009 0014  /lang/system....
0000020: 6a61 7661 2e6c 616e 672e 7379 7374 656d  java.lang.system
0000030: 2e6f 7574 000a 001b 4a61 7661 2e69 6f2e  .out....Java.io.
0000040: 7072 696e 7453 7472 6561 6d2e 7072 696e  printStream.prin
0000050: 746c 6e00 0a00 094d 6169 6e2e 6a61 76

[2014-06-02 12:34] #51 closed, assigned to ChrisKujawa

[2014-06-02 12:43] jdettlaff commented on #65
Richtige Nutzung des Java-Befehls:
java out

Das .class am Ende wird sonst als Teil des Klassennamens interpretiert und er sucht nach der Datei out.class.class ;)

[2014-06-02 12:44] jdettlaff commented on #64
Siehe Ticket #46

[2014-06-02 12:46] ChrisKujawa commented on #65
Stimmt hast recht sorry.

Aber dann bekomm ich diese Exception:

 java out
Exception in thread "main" java.lang.ClassFormatError: Truncated class file
        at java.lang.ClassLoader.defineClass1(Native Method)
        at java.lang.ClassLoader.defineClass(ClassLoader.java:800)
        at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
        at java.net.URLClassLoader.def

[2014-06-02 12:47] ChrisKujawa commented on #64
Dachte waere schon behoben wo ich die Email mal von dir bekommen habe ^^ dann schliesse ich mal dieses Ticket

[2014-06-02 12:47] #64 closed, assigned to mauriceAlthoff

[2014-06-02 12:51] ChrisKujawa commented on #32
done see #52

[2014-06-02 12:51] #32 closed, assigned to vincentbohlen

[2014-06-02 12:52] ChrisKujawa commented on #38
#52 and #32 done

[2014-06-02 12:52] #38 closed, assigned to nobody

[2014-06-02 12:53] jdettlaff commented on #65
Die generierte class-Datei ist offenbar ungültig und kaputt, mal mit javap disassemblen wenn ich zu Hause bin, ist ja schon an mich zugewiesen, danke.

[2014-06-02 13:12] ChrisKujawa commented on #59
Done

[2014-06-02 13:12] #59 closed, assigned to ChrisKujawa

[2014-06-02 17:09] mbaeten opened #66 "Frontend: Parsen von Variablen implementieren"

[2014-06-02 17:15] mbaeten commented on #24
Ich hab Jonathon Duerig am 28.0.5. eine entsprechende Mail geschickt, bis dato noch keine Antwort

[2014-06-02 17:18] ChrisKujawa commented on #24
Hat Paul im Seminar erzaehlt. Wenn lambda also '&' auftaucht ist alles danach eine anonyme funktion.Man ruft diese funktion dann via {} auf. So habe ich es verstanden. LG chris

[2014-06-02 17:20] ChrisKujawa opened #67 "Add bytecode generation for true and false"

[2014-06-02 18:39] #27 closed, assigned to kretzschi

[2014-06-02 18:40] mbaeten opened #68 "Backend: Variablen aus Parser schmeißen exception"
Zum Testen mit Parser -> Parameter:
- i test-cases2/bindvar.txt

Fehlermeldung:
terminate called after throwing an instance of 'std::out_of_range'
  what():  map::at

[2014-06-02 18:41] tmichaelis commented on #24
Ja. Lambda funktioniert wie '@'. Nur alles was dahintersteht wird in eine closure gepackt (mit dem Namen der Funktion, in der man sich befindet). Sobald { } erreicht wurde, springt man hinter die Lambda Funktion (also hinter das '&') und bewegt sich dort weiter.

lg Tomasz

Date: Mon, 2 Jun 2014 10:18:58 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
Subject: Re: [SWPSoSe14]

[2014-06-02 18:41] vincentbohlen opened #69 "implement add_ByteCode, sub_ByteCode, mult_ByteCode, div_ByteCode, mod_ByteCode"

[2014-06-02 18:45] leonbornemann opened #70 "Fehlermeldungen des Parsers auf stderr ausgeben(statt Standardausgabe)"

[2014-06-02 18:48] kretzschi commented on #60
Soweit fertig. Bei Gelegenheit mal drüber schauen.

[2014-06-02 18:48] #60 closed, assigned to kretzschi

[2014-06-02 19:02] ChrisKujawa opened #71 "Unmarshalling Variablen #66"

[2014-06-02 19:02] ChrisKujawa commented on #71
see #66

[2014-06-02 19:09] ccebinger opened #72 "constant_pool.cc / Vergleichsoperator für Byte"
betrifft das

[code]

hier können noch keine byte werte verglichen werden………

[2014-06-02 19:49] ChrisKujawa opened #73 "Adjust checkForValidCommandsInStraightDir"
<pre>switch(charAtStraight) {
        case 'o':
            setRowCol(straightRow, straightCol);
            addToAbstractSyntaxGraph("o", Command::Type::OUTPUT);
            break;
        case '[':
            setRowCol(straightRow, straightCol);
            //TODO: ueberpruefen ob notwendig: list<char> invalidCharList = {'[','{','(',},;
            addToAbstractSyntaxGraph(readCharsUntil(']'),

[2014-06-02 19:54] mauriceAlthoff commented on #72
ist behoben

[2014-06-02 19:54] #72 closed, assigned to mauriceAlthoff

[2014-06-02 20:12] kretzschi commented on #67
Implemented!

[2014-06-02 20:12] #67 closed, assigned to ChrisKujawa

[2014-06-02 20:38] ccebinger commented on #72
Befürchte, dass das gleiche, wenn nicht sogar das selbe, Problem beim addInt auftritt. !

[2014-06-03 05:58] tmichaelis commented on #24
Ich hab paar Tests zu Lambda geschrieben u.a. eine verschachtelte Lambda Funktion.

[2014-06-03 12:58] kretzschi opened #74 "Backend: Rail 'g' (greater) implementieren"

[2014-06-03 12:58] kretzschi opened #75 "Backend: Rail 'q' (equal) implementieren"

[2014-06-03 13:15] kretzschi commented on #69
Hat Chris meines Erachtens schon implementiert. Schau mal in die bytecode_generator. Da gibt es die Methoden add_ByteCode(...), sub_ByteCode(...) usw.

Schließe darum erst einmal das Ticket.

[2014-06-03 13:15] #69 closed, assigned to kretzschi

[2014-06-03 13:16] kretzschi commented on #61
Implementiert!

[2014-06-03 13:16] #61 closed, assigned to kretzschi

[2014-06-03 13:18] kretzschi commented on #25
Wurde von Chris bereits implementiert. Siehe bytecode_generator. Da gibt es die Methode add_ByteCode(...).

Schließe darum das Ticket.

[2014-06-03 13:18] #25 closed, assigned to kretzschi

[2014-06-03 13:19] kretzschi commented on #54
Sind soweit alle umgesetzt ;)

[2014-06-03 13:19] #54 closed, assigned to kretzschi

[2014-06-03 18:42] ChrisKujawa opened #76 "String and int distinction"
Moin Jonas,

wir hatten ja am Montag im TS darueber geredet das wir das nur mit Strings alles machen koennen.

Ich hab eventuell eine alternative gefunden mithilfe von instanceof (c1)*
Wir koennen wenn wir die Konstanten pushen( im Compiler) pruefen ob das arg jetzt ein int ist oder string und pushen je nachdem das richtige auf den Stack.

Wenn jetzt eine arithmetische operation kommt rechnen wir

[2014-06-03 19:16] jdettlaff commented on #76
Klingt gut. Wir müssen dann allerdings Integer pushen (nicht int!!), da
instanceof immer Objektreferenzen bekommt. Und vor arithmetischen Ops
die Integer zu int unboxen mit Integer#intValue().

Am 03.06.2014 20:42, schrieb Zelldon:

[2014-06-03 19:19] ChrisKujawa commented on #76
Jo das stimmt aber das ist denke ich besser als alles mit Strings zu machen.

ODER:

man prueft nur auf String und wenns kein String war (ergo int was keine referenz hat) gibt instanceof 0 zurueck. Oder meinste das funzt nicht?

[2014-06-03 19:58] jdettlaff commented on #76
Objektreferenzen und sonstige Dinge sind auf dem Operandenstack von
außen nicht zu unterscheiden. Man muss selbst wissen, was draufliegt.

Am 03.06.2014 21:19, schrieb Zelldon:

[2014-06-03 20:06] ChrisKujawa commented on #76
Ja das ist mir klar naja is auch egal dann machen wir das so mit den Wrapper Klassen wuerde ich sagen.

[2014-06-03 20:06] jdettlaff commented on #76
Hi, das wird erst bei Listen interessant, die eh Referenzen sind. Wie
auch Strings und alle Object-Referenzen aufm Operandenstack. Wir haben
keine Wahl, die Referenzarchitektur ist von der JVM eh vorgegeben.

Ich sehe auch nicht so recht, wo wir da Spielraum hätten? Und wodurch
genau wir "unfassbar viel RAM" sparen?

Am 03.06.2014 21:24, schrieb SilverBln:

[2014-06-04 09:38] ChrisKujawa opened #77 "adjust method push_const in bytecode generation (#76)"
#76

distinction between String and Integer
- check node arg
  - is the arg an int push an Integer Object
  - if not push string object

[2014-06-04 12:41] KosticS opened #78 "Noch fehlende Railbefehle im Parser ergänzen"

[2014-06-04 18:44] jdettlaff commented on #65
Problem bekannt, s. Ticket #46

[2014-06-04 18:44] #65 closed, assigned to vincentbohlen

[2014-06-05 06:05] #19 closed, assigned to nobody

[2014-06-05 06:49] mbaeten commented on #78
welche fehlen denn noch?

[2014-06-05 16:45] ChrisKujawa commented on #77
done see commit

[2014-06-05 16:45] #77 closed, assigned to ChrisKujawa

[2014-06-05 16:46] ChrisKujawa opened #79 "Check if is integer in arithmetic operations (#76)"

[2014-06-05 16:46] ChrisKujawa commented on #79
#76

[2014-06-05 16:58] ChrisKujawa commented on #76
http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-6.html#jvms-6.5.instanceof

Jonas hast du ne Idee wie ich an den index im constant pool komme?

EDIT: hat sich denke erledigt

[2014-06-05 18:20] ChrisKujawa commented on #46
Also ich denke es fehlt auch die init methode sowie die access flags:

aus dem anderen Projekt ausm letzten Semester kann man denke einige anregungen mitnehmen ^^

https://github.com/swp-uebersetzerbau-ss13/javabite/blob/master/javabite-backend/src/main/java/swp_compiler_ss13/javabite/backend/classfile/Classfile.java

https://github.com/swp-uebersetzerbau-ss13/javabite/blob/master/javabite-backend

[2014-06-05 19:04] kretzschi commented on #46
Also die 'init' und die 'main' habe ich mal vor einiger Zeit (hart coded) implementiert, als der CP noch nicht soweit war - bis jetzt habe ich noch nicht prüfen können, ob der CP nun soweit ist ^^.
Das steht in der classfile_writer. Die 'init' ist in jeder class-file enthalten. Müsste auch fast immer - wenn nicht sogar immer - der gleiche Code sein.

Vielleicht hat Vincent schon näheres herausgefu

[2014-06-05 19:48] ChrisKujawa commented on #46
Jo das hab ich gesehen also eig muesste es ja auch drin stehen aber wenn ich mir jetzt zb ne class datei ansehen die ich per javac generiert habe dann sieht der anfang so aus:

<pre>
0000000: cafe babe 0000 0033 0021 0a00 0700 190a  .......3.!......
0000010: 0003 001a 0700 1b07 001c 0a00 0400 1907  ................
0000020: 001d 0700 1e01 0006 3c69 6e69 743e 0100  ........<init>..
0000030: 0328 29

[2014-06-05 20:14] kretzschi commented on #46
Also, kann es sein, dass bei deiner erstellten .class Datei (aus unserem Projekt) nach dem 'java/lang/system' ... 'java.lang.system.out' ... 'Java.io.printStream.println' ... 'Main.java' kommt? Ist das dann alles?
Es liegt wohl am Constant Pool. Der wird zwar in der classfile_writer geschrieben, aber die Methode (getByteArray) returnt lediglich die 'pool' Variable, ohne was zu schreiben.
Jetzt der

[2014-06-06 12:01] kretzschi opened #80 "Backend: Fully understand conditionals in Bytecode"
Also, ich weiß nun zumindest erst einmal, was die zwei Bytes hinter dem if (bzw. goto) bedeuten.

Folgendes Beispiel:
[...]
        8: if_icmpne     16
      11: iconst_1
      12: istore_3
      13: goto          18
      16: iconst_0
      17: istore_3
[...]

Dieses erzeugt in der Class Datei folgenden Stream:
A0 00 08 04 3E A7 00 05 03 3E

Wobei A0 für if_icmpne und A7 für goto steht. Die nachf

[2014-06-06 12:05] ChrisKujawa commented on #80
Ah ok naja das dahinter die Bytes war mir klar aber das das die laenge ist wusst ich nicht! Das ist ja schon mal interessant zu wissen. Sehr cool :) Aber problem ist ja dann woher wissen wir wieviele schritte wir machen wollen? Weil wir muessen es ja direkt danach setzen aber wissen ja nicht was danach noch alles kommt oder ?

[2014-06-06 14:38] ccebinger commented on #80
moment… habe das beispiel nicht verstanden.
du gehst im bytecde nur noch auf 8: und 13: ein. was passiert mit 11: 12:

[2014-06-06 16:39] ChrisKujawa commented on #80
Die werden ausgefuehrt wenn das IF Statement nicht zutrifft ;)

<b>EDIT</b>
Bzw bei diesem IF statment wenn die ints gleich sind

[2014-06-07 09:19] mbaeten opened #81 "GitHub Wiki"
Der Compiler und die GUI sollen im github wiki dokumentiert werden

[2014-06-07 09:20] mbaeten opened #82 "Frontend: Listen implementieren"

[2014-06-07 09:20] mbaeten opened #83 "Backend: Listen implementieren"

[2014-06-07 09:20] mbaeten opened #84 "Frontend: Rekursionen"

[2014-06-07 09:21] mbaeten opened #85 "Backend: Rekursionen"

[2014-06-07 09:21] mbaeten opened #86 "Frontend: Zeicheneingabe"

[2014-06-07 09:21] mbaeten opened #87 "Backend: Zeicheneingabe"

[2014-06-07 09:22] mbaeten opened #88 "Test: kompletter Sprachumfang abgedeckt?"
kompletter Sprachumfang (alle Operationen, alle Typen außer Lambda)

[2014-06-07 09:23] mbaeten opened #89 "Syntax-Check im Hintergrund"
unerreichbarer Code, fehlerhafte Klammerung, fehlerhaftes Escapen, unbekannte Befehle

[2014-06-07 09:23] mbaeten opened #90 "Schienen-Eingabe per Mauszeiger"

[2014-06-07 09:24] mbaeten opened #91 "compile aus Editor heraus"
Ausführen des Kompilierten Programmes aus dem Editor heraus (Play Button), mit Ein- und Ausgabe für das Programm

[2014-06-07 09:25] mbaeten opened #92 "Screen-Cast"
Ein Screen-Cast, der die Benutzung des Editors erklärt Dokumentation
(1-2 Leute maximal)

[2014-06-07 09:26] mbaeten opened #93 "Rail Debugger (optional)"
Der original rail Interpreter soll in den Editor integriert werden, damit man im Editor ein Programm debuggen kann (Schritt-für-Schritt Ausführung, Breakpoints, Visualisierung des Stacks und der Variablenbelegung) GUI

[2014-06-07 09:30] mbaeten opened #94 "Automatisches Cross-Testing (optional)"
1. Rail-Testprogramme sollen mit beiden Compilern und dem Rail-Interpreter ausgeführt werden und die Ergebnisse (Rückgabewerte) verglichen werden
2. Rail-Testprogramme sollen von einem Compiler bis zum AST kompiliert werden und vom anderen Compiler vom AST bis zum Target

[2014-06-07 09:31] mbaeten opened #95 "Lambda Ausdrücke (optional)"
Auch Lambda-Ausdrücke können kompiliert werden

[2014-06-07 09:33] mbaeten opened #96 "Testautomatisierung"
Bei einem neuen Commit ins Repository sollen automatisch Tests ausgeführt werden:
- Kompilieren des Projekts und Build des Compilers
- Ausführen des Compilers mit Rail-Testprogrammen

[2014-06-07 09:41] mbaeten commented on #6
Milestone auf MS3 geändert. MS1 und MS2 sind ja bereits abgehakt

[2014-06-07 09:55] mbaeten commented on #24
Ein entsprechendes (optionales) Ticket für MS3 wurde erstellt: #95

[2014-06-07 09:55] #24 closed, assigned to nobody

[2014-06-07 09:57] mbaeten commented on #70
Dafür dann bitte /src/common/Status.h verwenden

[2014-06-07 10:22] mbaeten commented on #96
Meine Anforderung daran sind:
- UnitTests müssen eigenständig sein (eigenständiges Projekt, im github ofc, Ordner ist schon angelegt)
- In dem eigentständigen Projekt dürfen UnitTest-Libraries verwendet werden, solange sie Open Source und Cross-Plattform sind (und möglichst leichtgewichtig). Bitte auch auf die Lizenz achten!
- Wenn ihr entsprechende Libs verwendet, schreibt bitte auch eine kleine

[2014-06-07 11:26] #58 closed, assigned to mbaeten

[2014-06-07 13:27] mbaeten opened #97 "Automatisches Cross-Testing (optional)"
- Rail-Testprogramme sollen mit beiden Compilern und dem Rail-Interpreter ausgeführt werden und die Ergebnisse (Rückgabewerte) verglichen werden
- Rail-Testprogramme sollen von einem Compiler bis zum AST kompiliert werden und vom anderen Compiler vom AST bis zum Target

Evtl nochmal aufteilen auf kleinere Probleme. Absprache mit Haskell-Gruppe nötig

[2014-06-07 13:27] #97 closed, assigned to nobody

[2014-06-07 20:43] kretzschi commented on #80
Man müsste das in zwei Schritten machen, erst die Bytes zählen bis zum Goto, und dann erst die eigentliche Sequenz ab dem IF schreiben ..

[2014-06-09 10:43] ChrisKujawa commented on #80
Hab denke auch noch ein gutes Beispiel:

<pre>
  public static void main(String[] args) {
    Integer i = 0;
    if (!(i instanceof Integer))
      throw new IllegalArgumentException();

    int test = 0;
    test++;

  }
</pre>

<pre>
public class javabytecode.IfInstanceOf {
  public javabytecode.IfInstanceOf();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method jav

[2014-06-09 10:43] #80 closed, assigned to kretzschi

[2014-06-09 10:44] ChrisKujawa opened #98 "Create if instruction generator method in BytecodeGenerator"
#80

[2014-06-09 13:00] #98 closed, assigned to ChrisKujawa

[2014-06-09 13:52] #79 closed, assigned to ChrisKujawa

[2014-06-09 18:23] leonbornemann opened #99 "Parser an Interpreter anpassen(wie letzten Donnerstag besprochen)"
nach bzw. vor Stern/Plus/x darf nur geradeaus geschaut werden(nicht nach links und rechts schauen).

[2014-06-09 18:24] ccebinger opened #100 "@constant_pool_test.cc: testing int, long, byte, string"
Tests für folgende Datentypen erstellen:
- Byte
- Int
- Long
- String

Zusätzlich prüfen, ob

[code]

ausgeführt wird.

[2014-06-09 18:26] ccebinger commented on #100
Prinzipiell für Strings jetzt implementiert.

[2014-06-09 18:30] leonbornemann opened #101 "Parse rail Commands in loops only once"
this will avoid endless loops of the parser

[2014-06-10 09:39] jdettlaff commented on #76
Dafür muss halt eine Klassenreferenz (java/lang/String bzw.
java/lang/Integer) im Constant Pool sein, wie du die bekommst frag halt
Maurice oder guck in die Doku vom Constant Pool.

[2014-06-10 09:46] ChrisKujawa commented on #76
Wie bereits da steht hat es sich erledigt...habs ja jetzt umgesetzt...

[2014-06-10 09:54] jdettlaff commented on #76
Ach. Hehe. Guten Morgen. Ich bin wieder da.

[2014-06-10 12:46] kretzschi commented on #74
Done

[2014-06-10 19:11] ChrisKujawa commented on #46
<pre>
cafe babe - magic
0000 - minor version
0033 - major version J2SE7
0007 - CP This count is at least one greater than the actual number of entries!!!!! <=====
0010 - 1 <-------PROBLEM not exists TAG 0
6a61 - 2
7661 - 3       6d61 696e - Hex for main is missing
2f6c - 4
616e - 5
672f - 6 -> Constantpool should end!
7379 7374 656d 0009 0014
6a61 7661 2e6c 616e 672e 7379 7374 656d
2e6f 7574 000a

[2014-06-10 21:01] kretzschi commented on #46
Japp, das klingt plausibel.

Soweit ich mich erinnere, müsste der erste Eintrag eine CONSTANT_Methodref -> auf ein CONSTANT_Class -> auf java/lang/Object verweisen.

Und java/lang/Object taucht bei uns nun gar nicht in der class-file auf. Haben wir also schon mal einen Punkt, wo wir ansetzen können.

[2014-06-11 04:18] ChrisKujawa commented on #46
Ja das problem ist das der falsche vector im classfile writer benutzt wird.
Ivh habs schon mal versucht bissel anzupassen zeigs dir nachher:)

[2014-06-11 10:48] #101 closed, assigned to leonbornemann

[2014-06-11 10:52] leonbornemann opened #102 "Fix rail commands t and f"
At the moment the rail commands t and f create the command string "t" and "f" this is incorrect since they should create "1" and "0" (according to rail spec)

[2014-06-11 11:15] mauriceAlthoff commented on #46
Das Taggen mach ich doch indem ich zuerst 2 byte pushe mit diesem enum:
enum ItemType{
  CLASS = 7,
  FIELD = 9,
  METHOD = 10,
  IMETHOD = 11,
  UTF8 = 1,
  STR = 8,
  INT = 3,
  LONG = 5
};
hier eine Beispiel Methode dazu:
  Item i;
  size_t index = 0;
  i.set(value);
  if (!check(i)) {
    put2(LONG);
    index = put(i);
    putLong(value);
  } else {
    index = get(i).index;
  }
  return inde

[2014-06-11 11:24] ChrisKujawa commented on #46
Ein Tag hat aber nur 1 Byte abgesehen davon  deine Push Methode reduziert von 32 auf 16 Bit ka ob sich das so gut verhaelt bzw was er da wirklich pushed.

[2014-06-11 12:00] leonbornemann opened #103 "AST an haskell gruppe anpassen(überprüfen ob noch was zu ändern)"

[2014-06-11 12:05] #99 closed, assigned to leonbornemann

[2014-06-11 12:10] leonbornemann commented on #103
@SilverBln hier müssten wir uns gemeinsam das Foto von der Tafel von letzten Donnerstag ansehen

[2014-06-11 12:44] KosticS opened #104 "Befehl Variable Pop im Parser hinzufügen"
Der Befehl '(!' und '!)' ist gemeint

[2014-06-11 12:47] KosticS opened #105 "Überprüfen ob der Interpreter auch '!) a (!' oder ')!a!(' akzeptiert und ggf. implementieren"

[2014-06-11 13:18] mbaeten commented on #104
der ist schon drin

[2014-06-11 13:18] #104 closed, assigned to KosticS

[2014-06-11 13:20] mbaeten commented on #105
das ist auch schon drin, siehe zeile 266 & 270 @ parser.cpp

[2014-06-11 13:20] #105 closed, assigned to KosticS

[2014-06-11 14:50] ChrisKujawa opened #106 "ConstantPool push constants in big endian"

[2014-06-11 14:50] ChrisKujawa opened #107 "Classfilewrite add CP size to output"

[2014-06-11 14:51] ChrisKujawa opened #108 "Tags must be set as a single byte"
Tags sind als u1 in der JVM definiert. Es gibt folgende vordefinierte Tags: http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.4 (siehe Tabelle)

[2014-06-11 14:53] ChrisKujawa opened #109 "ConstantPool: Items push should be inproved"
For example Methodref push must contain Tag, class index and name-type index (siehe auch #110)

For more information see http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.4.2

[2014-06-11 14:53] ChrisKujawa opened #110 "Add Name-type index to constant pool"
The value of the name_and_type_index item must be a valid index into the constant_pool table. The constant_pool entry at that index must be a CONSTANT_NameAndType_info structure. This constant_pool entry indicates the name and descriptor of the field or method. [1]

[1] http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.4.2

[2014-06-11 14:54] ChrisKujawa opened #111 "add Object ref and this class to ClassfileWriter"
Object Ref means a CP entry for java/lang/Object.

Should be the first entry in CP.

[2014-06-11 14:54] ChrisKujawa opened #112 "add Filename to the Classfilewriter"

[2014-06-11 14:56] ChrisKujawa opened #113 "Adjust constant pool ctor"
- adjust methods and class ref - replace dot with slash
- Main.java is class name not a method ref
- java/lang/System is a FieldRef

[2014-06-11 14:56] ChrisKujawa opened #114 "Remove useless methods from constantpool"
- addLong (muss noch überprüft werden, ob sinnvoll -> #119)
- addIMethodRef

[2014-06-11 14:57] ChrisKujawa opened #115 "Rename put methods in constantpool"
use more meaningful identifiers for the different put methods

[2014-06-11 14:58] ChrisKujawa opened #116 "Add getFuncNames Method to Graphs class"

[2014-06-11 14:59] ChrisKujawa opened #117 "add descriptor () V to ClassFileWriter"
Beim Schreiben des ersten Elements in den CP ("java/lang/Object"), wird ein "Name_and_Type" definiert. Dabei ist der Name "" und der Typ "()V".

Diesen Typ "void" also "()V" wollen wir zunächst für alle Rail Funktionen benutzen, da erst in MS3 geklärt werden muss, wie Argumente in Rail im JavaByteCode representiert werden sollen (siehe dazu #118)

[2014-06-11 15:00] ChrisKujawa opened #118 "Create global stack"
The current stack is only available for each method, but in rail the stack is global.

Another function can read values from the stack which was pushed from another.

[2014-06-11 15:01] ChrisKujawa opened #119 "test long datatype in Rail"
Es soll überprüft werden, was beim Rechnen mit riesigen Zahlen in Rail passiert.

[2014-06-11 15:02] ChrisKujawa opened #120 "Adjust writeMethod in Classfilewrite"
add to the method the generated bytecode from the BytecodeGenerator class

[2014-06-11 15:02] ChrisKujawa opened #121 "Create own method for writeInitMethod in ClassfileWriter"
Die <init> Methode ist in jeder class-file enthalten und in unserem Fall auch immer gleich (abgesehen von der Position im CP).
Darum ist es sinnvoll, den Code in eine eigene Methode auszulagern.

[2014-06-11 16:02] kretzschi commented on #119
Also, der rail Interpreter verhält sich wie in bspw. Java.
D.h. er rechnet mit Integer der Größe -2147483648 bis 2147483647. Zum Beispiel habe ich durchgespielt:
- [2147483647][1]ao-# ergibt -2147483648
- [2147483647][4]mo-# ergibt -4
  usw.

Wir müssten also festlegen, ob wir intern beim Rechnen mit Ints über / unter 2147483647 / -2147483648 im CP Longs hinzufügen, oder eben das Verhalten 1 zu 1

[2014-06-11 18:07] mbaeten commented on #82
Bereits abgeschlossen von Sandra

[2014-06-11 18:07] #82 closed, assigned to hanintalal

[2014-06-11 18:07] mbaeten commented on #86
Bereits abgeschlossen von Sandra

[2014-06-11 18:07] #86 closed, assigned to hanintalal

[2014-06-11 18:21] KosticS commented on #78
Es wurden die Systembefehle 'Input', 'Underflow Check' und 'Type', sowie sämtliche Listenoperationen und Opeartioenen mit Bedigungen ergänzt.

[2014-06-11 18:21] #78 closed, assigned to KosticS

[2014-06-11 18:29] ChrisKujawa opened #122 "check method to write hex values"
Die Werte die zurzeit gespeichert werden sind glaube nicht alle korrekt und das liegt meiner Meinung nach dadran das sie nicht als hex gespeichert werden oder etwas zu kurz (zb fehlen nullen)

Dies muss angepasst werden damit die Classfile funktioniert

[2014-06-11 18:30] ChrisKujawa commented on #122
z.b. eine variante:

<pre>
std::stringstream sstream;
sstream.fill('\x0');
sstream.width(2);
sstream /</< std::hex /</< value;
</pre>

[2014-06-11 18:41] kretzschi commented on #9
Ist doppelt, wird daher geschlossen (siehe #120)

[2014-06-11 18:41] #9 closed, assigned to nobody

[2014-06-11 18:41] ChrisKujawa opened #123 "Constantpool should use wrapper classes not primitive types"
We can't handle the primitive data types like int, because for the typecheck in the bytecode_generator, we need the Wrapper Classes (e.g. java/lang/Integer)

[2014-06-11 18:45] kretzschi commented on #10
CP wurde bereits implementiert. Tickets für Fixes und Verbesserung bereits offen.

[2014-06-11 18:45] #10 closed, assigned to nobody

[2014-06-11 19:10] ChrisKujawa commented on #122
http://www.cplusplus.com/articles/DzywvCM9/

[2014-06-11 20:00] ChrisKujawa commented on #122
Mit Bytecode_writer write method funktioniert auch das tag schreiben! (vorher gabs probleme mit stringstream)
#108

[2014-06-11 20:03] kretzschi commented on #74
Unfortunately, I forgot the typecheck, but the typecheck depends on ticket #123

[2014-06-11 20:11] ChrisKujawa commented on #106
created new class Bytecode_writer which creates from uint8/16/32_t corresponding uint8_t array with big endian

[2014-06-11 20:11] #106 closed, assigned to nobody

[2014-06-11 20:20] mbaeten commented on #122
@Zelldon was ist mit cstdint? das hatte ich jetzt überall verwendet. Ist das nicht das selbe?

[2014-06-11 20:25] ChrisKujawa commented on #122
Jaein in der header sind ja nur die typedefs definiert aber net die umrechnung nach big endian usw oder was meinst du

[2014-06-11 20:26] mbaeten commented on #122
ajo ok, das war mir nicht bewusst, danke (hatte den artikel nur überflogen)

[2014-06-12 10:47] ChrisKujawa commented on #109
@kretzschi bin schon dran habe neue klassen erstellt fuer die items

[2014-06-12 13:28] hanintalal commented on #86
:(

[2014-06-12 14:20] ChrisKujawa commented on #108
done

[2014-06-12 14:20] #108 closed, assigned to ChrisKujawa

[2014-06-12 14:21] #107 closed, assigned to ChrisKujawa

[2014-06-12 14:46] mauriceAlthoff commented on #113
aenderungen gemacht

[2014-06-12 14:46] #113 closed, assigned to mauriceAlthoff

[2014-06-12 14:54] kretzschi opened #124 "WriteSuperClassName and WriteClassName create wrong reference types"
At the moment they create CONSTANT_UTF8 (strings) but should create CONSTANT_CLASS instead.

[2014-06-12 15:02] kretzschi commented on #119
Wir übernehmen das Verhalten von Rail beim Rechnen mit großen Zahlen (siehe oben).
Done.

[2014-06-12 15:02] #119 closed, assigned to kretzschi

[2014-06-12 15:08] KosticS commented on #84
@hanintalal . Habe es eben nochmal getestet. Rekursionen funktionieren bereits im Parser

[2014-06-12 15:09] #84 closed, assigned to hanintalal

[2014-06-12 18:22] kretzschi opened #125 "Adjust push of "main" in CP Ctor"
The "main" in the classfile is not an methodRef as implemented at the moment.
"main" is simply an CP entry with the type of CONSTANT_UTF8.

structure of the "main" entry:

u1 tag + u2 length + "main" in hex (0x6D61696E)

[2014-06-12 18:29] kretzschi opened #126 "Add "Code" attribute in CP"
The "Code" attribute represents the actual byte-stream for each operation that is generated by the bytecode_generator.

It is represented as CONSTANT_UTF8 in the CP. The actual code for "Code" is done in the attribute part of the classfile_writer.

[2014-06-12 20:07] kretzschi commented on #126
done

[2014-06-12 20:07] #126 closed, assigned to kretzschi

[2014-06-12 20:15] kretzschi opened #127 "Create own method for writeMainMethod in ClassfileWriter"
as for the init method, we can implement main in an own method.

[2014-06-12 22:39] ChrisKujawa commented on #116
Usage:
std::vectorstd::string keys = graphs.keyset();

DONE

[2014-06-12 22:39] #116 closed, assigned to ChrisKujawa

[2014-06-13 07:27] kretzschi opened #128 "putUTF8 in CP should return index in CP"
putUTF8 returns void at the moment but should return the index of the CONSTANT_UTF8 element in the CP

[2014-06-13 07:42] hanintalal opened #129 "Issues Organisieren"
Wir hatten einen Problem beim Git ,deshalb wurde alle issues noch mal geoeffnet .
bitte alle issues ,die bereit gemacht wreden ,schliessen ,damit wir genau wissen ,was fehlt noch .
ich habe das hier schrieben muessen ,weil man manschmal email uebersieht .
Danke

[2014-06-13 07:49] mbaeten commented on #129
Was meinst du damit? Sieht nicht so aus, als wären alle Issues wieder offen: 54 open/ 75 closed

[2014-06-13 09:22] mauriceAlthoff commented on #128
ne, sollte es nicht da es eine interne Funktion ist und einen utf8 string erstellen soll und in den pool pushen. So funktionieren auch die anderen push Funktionen

[2014-06-13 10:32] vincentbohlen commented on #128
addString ruft putUTF8 auf und returned dann den index, wenn ich das richtig sehe.

[2014-06-13 13:51] kretzschi commented on #128
Ahja, sry. Die addString war mir gerade entfallen. Danke sehr! :)

[2014-06-13 13:51] #128 closed, assigned to mauriceAlthoff

[2014-06-13 13:56] kretzschi commented on #125
done

[2014-06-13 13:56] #125 closed, assigned to nobody

[2014-06-13 15:41] #127 closed, assigned to vincentbohlen

[2014-06-13 15:42] vincentbohlen commented on #127
closed. wird von kretschi mit in der writemethods übernommen.

[2014-06-13 15:47] jdettlaff commented on #76
Ist dies jetzt komplett erledigt?

[2014-06-13 16:07] jdettlaff commented on #118
Nutzen ArrayDeque. (Wenig Overhead: keine Synchronisierung, kein übermäßiger Platzoverhead) Implementierung folgt in Kürze.

[2014-06-13 16:36] ChrisKujawa opened #130 "Adjust Bytecode generator for new constantpool"

[2014-06-13 17:01] vincentbohlen commented on #122
deine klasse funkioniert doch super. kann man schließen, oder?

[2014-06-13 17:04] ChrisKujawa commented on #122
Wollt evtl noch bissel erweitern aber bist zufrieden ja? XD guck mal constant Pool dir an hab den veraendert

[2014-06-13 17:19] kretzschi commented on #122
filestream.write(reinterpret_cast<char*> (bytes) , bsize); (line 21)

invalid cast from type ‘std::vector<unsigned char>’ to type ‘char*’

[2014-06-13 17:37] ChrisKujawa commented on #122
Wieso bekomm ik diese fehler net.. Btw mauricw hat diesen cast geadded aber ich guck mal morgen

[2014-06-13 20:04] vincentbohlen commented on #117
Steht drin, oder?
Line 161 constant_pool.cc

[2014-06-13 20:16] vincentbohlen commented on #111
Das könnte tricky sein.
Wir wollen ja eine MethodRef an die erste Stelle schreiben, die aber die ClassRef braucht, die dahinter stehen soll. Die darf aber auch nicht direkt dahinter stehen, weil wir an zweiter Stelle die FieldRef auf java/lang/System brauchen (oder?)

[2014-06-13 20:28] kretzschi commented on #111
Kann es zwar nicht mit Bestimmtheit sagen, aber im Prinzip ist es egal. Hauptsache die Referenzen stimmen und die Typen sind richtig definiert.

[2014-06-13 20:33] vincentbohlen commented on #17
Das muss für jetzt erstmal nur für main und init funktionieren, weil wir ja noch keine weiteren methoden haben. init steht schon. Ich würde vorschlagen, dass hier zu zu machen und zu splitten.

[2014-06-13 20:37] vincentbohlen commented on #46
Fehler behoben. Neue Fehler aufgetaucht. Resultat daraus sind die IMPORTANT issues.

[2014-06-13 20:37] #46 closed, assigned to mauriceAlthoff

[2014-06-13 20:39] #17 closed, assigned to nobody

[2014-06-13 20:40] vincentbohlen opened #131 "Attribute schreiben für Methoden außer main und init"

[2014-06-13 20:40] vincentbohlen opened #132 "Attribute schreiben für main und init"

[2014-06-13 20:53] kretzschi commented on #132
Brauchen eigentlich kein eigenes Ticket für die main, da wir den Code auch über den bytecode_generator generieren.

[2014-06-13 21:02] kretzschi commented on #131
Nur init hat "feste" Attribute.

Heikel wird nur, den Graphen so zu "synchronisieren", dass wir für jede Methode die richtigen Befehle in Bytecode generieren.

[2014-06-14 07:34] vincentbohlen commented on #132
Ich habe halt das Ticket  #17 in Milestone 1 geschlossen und in #132 in M2 und #131 in M3 geteilt. Einfach der Ordnung wegen.

[2014-06-14 10:11] #102 closed, assigned to mbaeten

[2014-06-14 10:28] vincentbohlen opened #133 "Testen von classname, superclassname und method/fieldref, sobald der code wieder baut"
Erinnerung

[2014-06-14 11:31] mbaeten opened #134 "Github Readme.md schreiben"

[2014-06-14 11:47] #111 closed, assigned to vincentbohlen

[2014-06-14 11:52] vincentbohlen commented on #122
&bytes löst den Fehler. kA obs auch funktioniert. Ist ja mal wieder kaputt ^^

[2014-06-14 12:50] vincentbohlen commented on #124
void ClassfileWriter::WriteClassName() {
    uint16_t str = constant_pool_->addString("Main");
    std::cout << str;
    writer.writeU16(constant_pool_->addClassRef(constant_pool_->addString("Main")));
}

<b>funktioniert. Dann schreibt er auch korrekt WriteSuperclassName();</b>

void ClassfileWriter::WriteClassName() {
    writer.writeU16(constant_pool_->addClassRef(constant_pool_->addString("Main

[2014-06-14 12:52] kretzschi commented on #114
done

[2014-06-14 12:52] #114 closed, assigned to nobody

[2014-06-14 12:52] kretzschi commented on #115
done

[2014-06-14 12:52] #115 closed, assigned to nobody

[2014-06-14 12:53] kretzschi commented on #117
Ja.

[2014-06-14 12:53] #117 closed, assigned to nobody

[2014-06-14 12:55] kretzschi commented on #120
Fertig implementiert.

[2014-06-14 12:55] #120 closed, assigned to kretzschi

[2014-06-14 14:02] vincentbohlen commented on #124
funktioniert jetzt in der gesamten ausführung.

[2014-06-14 14:04] #121 closed, assigned to vincentbohlen

[2014-06-14 14:30] vincentbohlen opened #135 "add missing standard values to constant pool"
addString("([Ljava/lang/String;)V");
  addString("out");
  addString("Ljava/io/PrintStream;");
  addString("java/io/PrintStream");
  addString("println");
- classes, methodrefs, etc.

[2014-06-14 14:37] ChrisKujawa opened #136 "BUG: constantpool index"
some times the index is used again but the item is new

[2014-06-14 14:37] ChrisKujawa commented on #109
<b> Fix Constant pool - current class file!

<pre>
UTF8-Strings
01    00 10    6a 6176 612f 6c61 6e67 2f4f 626a 6563 74
01    0010    6a61 7661 2f6c 616e 672f  5379 7374 656d
01    00 13   6a 6176 612f 696f 2f50 7269 6e74 5374 7265 616d
01    00 04   4d 6169 6e01 0004 6d61 696e 0100 0328 2956
01    00 04   43 6f64 65
Class infos
07    0001
07   00 02
07   0003
07   00 04
Name and Type
0c    0005 0

[2014-06-14 14:37] #109 closed, assigned to ChrisKujawa

[2014-06-14 14:45] ChrisKujawa commented on #76
ja also im grunde existieren jetzt methoden zu unterscheidung die muessen dann nur verwendet werden ordentlich :D

ich schliesse damit mal das ticket

[2014-06-14 14:45] #76 closed, assigned to jdettlaff

[2014-06-14 14:49] ChrisKujawa commented on #122
ja also habs in (char*) &bytes[0] geaendert

[2014-06-14 14:49] #122 closed, assigned to nobody

[2014-06-14 15:06] ChrisKujawa commented on #136
Constant pool fixed - put method adjust changed from object copy to reference paramter after that the indexes are correct:

<b>

<pre>01    00 10     6a 6176 612f 6c61 6e67 2f4f 626a 6563 74
01    0010      6a61 7661 2f6c 616e 672f 5379 7374 656d
01    00 13    6a 6176 612f 696f 2f50 7269 6e74 5374 7265 616d
01    00 04    4d 6169 6e
01    0004     6d61 696e
01   00 03     28 2956
01   00 04     4

[2014-06-14 15:06] #136 closed, assigned to ChrisKujawa

[2014-06-14 15:16] ChrisKujawa opened #137 "add size from constant pool to classfile"

[2014-06-14 15:36] ChrisKujawa commented on #137
done

[2014-06-14 15:36] #137 closed, assigned to ChrisKujawa

[2014-06-14 15:37] ChrisKujawa opened #138 "Write method names into constant pool"

[2014-06-14 15:46] ChrisKujawa commented on #138
done

[2014-06-14 15:46] #138 closed, assigned to ChrisKujawa

[2014-06-14 16:54] vincentbohlen commented on #124
Allerdings sind die werte falsch.....

[2014-06-14 16:58] kretzschi commented on #124
Was stimmt genau nicht ?

[2014-06-14 18:32] ChrisKujawa commented on #124
also das liegt am Constant pool weil der iwie immer neues item pushed bei den classes wenn die nochmal auftauchen

[2014-06-14 20:36] mbaeten commented on #35
mit haskell abgesprochen - nicht benötigt

[2014-06-14 20:36] #35 closed, assigned to leonbornemann

[2014-06-14 20:37] mbaeten commented on #36
mit haskell abgesprochen - nicht benötigt

[2014-06-14 20:37] #36 closed, assigned to nobody

[2014-06-14 20:37] mbaeten commented on #37
Was ist damit genau gemeint?

[2014-06-14 20:39] mbaeten commented on #56
Irrelevant - Schönheitsfehler ;)

[2014-06-14 20:39] #56 closed, assigned to nobody

[2014-06-14 20:43] mbaeten commented on #73
wont-fix ;)

[2014-06-14 20:43] #73 closed, assigned to nobody

[2014-06-14 20:44] mbaeten commented on #103
Abgeschlossen

[2014-06-14 20:44] #103 closed, assigned to leonbornemann

[2014-06-14 23:22] vincentbohlen opened #139 "check method in constant pool is not working"
always returns false.
most likely because std::find compares object adresses, not values?

[2014-06-15 00:15] vincentbohlen commented on #139
im akuten Fall werden falsche indizes für Klassen zurückgegeben.
Bin mit meinem Latein jetzt am Ende

[2014-06-15 00:27] ChrisKujawa commented on #139
Naja das problem ist bei den class items das die attribute name_idx dann nach dem schreiben beim naechsten vergleich wieder 0 ist

[2014-06-15 07:53] kretzschi opened #140 "Attributes: (global) counting of max stack items"
For the code attribute we have to count the maximum depth of operand stack in the bytecode_generator

http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.7.3 #131 #132

[2014-06-15 07:55] kretzschi opened #141 "Attributes: (global) counting of local count"
For each code attribute we have to count the number of local variables in the bytecode_generator.

[2014-06-15 07:57] kretzschi commented on #131
Ich verweise mal auf Issue #132, da ich das schreiben der Attribute generisch mache und somit unabhängig der methode wird. Closed.

[2014-06-15 07:57] #131 closed, assigned to kretzschi

[2014-06-15 08:26] kretzschi commented on #110
Done

[2014-06-15 08:26] #110 closed, assigned to mauriceAlthoff

[2014-06-15 08:35] kretzschi commented on #118
Wie siehts aus?

[2014-06-15 09:20] mbaeten commented on #118
in unserer Mail wird jetzt auch mit -o die out-file angegeben

[2014-06-15 12:04] vincentbohlen commented on #135
should be fine for milestone 2.
see you in M3

[2014-06-15 12:04] #135 closed, assigned to vincentbohlen

[2014-06-15 12:08] vincentbohlen commented on #63
Für das milestone 2 ziel ist das hier doch erledigt, oder sehe ich das falsch?

[2014-06-15 12:10] #63 closed, assigned to ChrisKujawa

[2014-06-15 12:12] ChrisKujawa commented on #63
changed static fields to enum

[2014-06-15 13:28] kretzschi commented on #141
done!

[2014-06-15 13:28] #141 closed, assigned to kretzschi

[2014-06-15 13:29] jdettlaff commented on #118
Grade gemerkt, dass wir dafür nicht nur push/pop, sondern jede Stackoperation ändern müssen ;) Bau ich noch ein.

[2014-06-15 13:32] jdettlaff commented on #140
Doesn't need to be much since we'll be using a global stack object on
the heap.

Am 15.06.2014 09:53, schrieb kretzschi:

[2014-06-15 13:35] kretzschi commented on #140
Thus, I'll assign the issue to you :P
You have to provide the number for the classfile_writer

[2014-06-15 13:41] mbaeten opened #142 "Ausgaben nur wenn verbose"
< common/Env.h >
if(Env::verbose()) {...} für alle Ausgaben auf std::cout

[2014-06-15 14:43] vincentbohlen commented on #123
Was ist hier jetzt noch genau zu tun?
Bin momentan arbeitslos (bis die check funktioniert und wieder neue bugs kommen^^)

[2014-06-15 14:45] ChrisKujawa commented on #123
Kannst mal gucken vorhin ging die check methode dann :)

[2014-06-15 15:51] #40 closed, assigned to kretzschi

[2014-06-15 16:21] vincentbohlen opened #143 "Bug auflösen, der durchillegale cp Belegung entsteht?"
Ich habe das file manuell zu Ende geschrieben. Also die main methode hardgecoded um zu schauen, was passieren wird. Die Antwort:

Exception in thread "main" java.lang.VerifyError: Illegal type at constant pool entry 1 in class Main
Exception Details:
  Location:
    Main.< init >( )V @1: invokespecial
  Reason:
    Constant pool index 1 is invalid
  Bytecode:
    0000000: 2ab7 0001 b1

[2014-06-15 16:24] vincentbohlen commented on #143
kommando zurück.
der code für init ist falsch. er muss natürlich auf die methodref des supercalls inits zeigen.

[2014-06-15 16:50] mbaeten opened #144 "Einheitliches Error Handling"
Nötig für Editor

[2014-06-15 17:07] vincentbohlen commented on #143
Ziemlich geiles Gefühl, auch wenn es noch nichts heißt. Aber das Ende ist in Sicht.

vincent@Lenovo:~/SWPSoSe14/projekt-compiler/io$ java Main
[Hello World\n]

[2014-06-15 17:07] #143 closed, assigned to vincentbohlen

[2014-06-15 17:10] vincentbohlen commented on #139
funktioniert jetzt blendend =) richtig laser! ;)

[2014-06-15 17:10] #139 closed, assigned to mauriceAlthoff

[2014-06-15 17:10] #133 closed, assigned to vincentbohlen

[2014-06-15 17:20] #124 closed, assigned to vincentbohlen

[2014-06-15 18:18] vincentbohlen commented on #132
Es gibt noch ein paar wenige Punkte, die nicht richtig fuktionieren, aber zusammenhängen.
In der generierten Classfile sind noch falsch:

attribute length
max_stack
code_length
code

Das ist alles im attribute part der methoden.
Gerade das code nicht richtig ist, ist beunruhigend.
Wenn das passt, dann ist die classfile fertig.

So sieht die Methode jetzt aus:
09 | 00 18 | 00 0A  | 00 01 | 00 08 |

[2014-06-15 19:11] kretzschi commented on #132
Also, die erzeugten Bytes vom Code waren ja:
12  4c  b2  2b  b6  b1 (LDC -> ASTORE_1 -> GET_STATIC -> ALOAD_1 -> INVOKE_VIRTUAL -> RETURN)

Normalerweise: GET_STATIC -> u2 CP-REF -> LDC -> u1 CP-REF -> INVOKE_VIRTUAL -> u2 CP_REF -> RETURN

Also scheinbar werden die falschen Methoden im generator aufgerufen. Müsste so aussehen:

push_Bytes(...)
output_Bytecode(...)
|
--- add_static_field(...)
---

[2014-06-15 19:34] vincentbohlen opened #145 "Strings korreckt unmarshallen"
Derzeit wird noch [Hello World!\n] ausgelesen. Es sollte natürlich Hello World!\n sein.

[2014-06-15 22:03] #129 closed, assigned to nobody

[2014-06-16 08:47] vincentbohlen commented on #132
Wir sehen, dass deie attributgenerierung funktioniert. jetzt is die arbeit im bytecode_generator zu tun, Deswegen close und ich eröffne ein neues issue.

[2014-06-16 08:47] #132 closed, assigned to kretzschi

[2014-06-16 08:52] vincentbohlen opened #146 "bytecode_generator überarbeiten"
Wir haben ein Problem mit der derzeitigen ausführung des bytecode_generator.
Wir gehen den graphen linear durch und pushen die jeweiligen Befehle auf den Stack.
Dabei beachten wir aber die ausführungsreihenfolge nicht.
Im konkreten Hello World beispiel ergibt sich daraus folender Fehler:

Wir lesen und schreiben momentan etwa so etwas:

opcode [12] - 0000: ldc 48 [String: [Hello World\n]]
opcode [

[2014-06-16 09:04] ChrisKujawa commented on #146
Naja das wuerde ich denke nicht machen weil was machste wenn addition oder sonst was da liegt?

Ich denke wenn wir den globalen Stack von Jonas als attribut haben verfliegt diese Problem eh, da
wir unsere Values dann in diesem Stack haben.

[2014-06-16 09:06] vincentbohlen commented on #146
Ja, dann müssten wir den nur langsam mal zur verfügung haben ^^

[2014-06-16 09:09] ChrisKujawa commented on #37
ich habe keine ahnung mehr ^^ :D

[2014-06-16 09:09] #37 closed, assigned to nobody

[2014-06-16 09:16] kretzschi commented on #118
Könntest du wenigstens schon einmal eine Schnittstelle rausgeben? Wir stocken gerade ein bisschen ...

[2014-06-16 11:36] ChrisKujawa opened #147 "Create Integer and String structs which contains the indexes of there methods an fields"
#130

[2014-06-16 11:54] jdettlaff commented on #118
Jo gepusht in classfix, im BytecodeGenerator: Funktionen globalstack_push und globalstack_pop. Diese Version generiert dann auch keinen Bytecode, also existierendes sollte nicht kaputtgegangen sein ;)

[2014-06-16 12:03] hanintalal opened #148 "choose between a secondary and primary connection impl."

[2014-06-16 12:06] hanintalal opened #149 "'Rail valid Board' prüfen"

[2014-06-16 12:07] ChrisKujawa commented on #147
done

[2014-06-16 12:07] #147 closed, assigned to ChrisKujawa

[2014-06-16 12:07] ChrisKujawa commented on #130
done

[2014-06-16 12:07] #130 closed, assigned to ChrisKujawa

[2014-06-16 12:13] ChrisKujawa commented on #123
Brauchen wir ueberhaupt die addInt methode im Constantpool? Eig net oder

[2014-06-16 13:02] ChrisKujawa commented on #68
done

[2014-06-16 13:02] #68 closed, assigned to nobody

[2014-06-16 14:27] jdettlaff opened #150 "Create and initialize the static ArrayDeque "stack" field in class file"
**For the global stack we need to initialize the stack static field:**
    public static java.util.ArrayDeque stack;
    Signature: Ljava/util/ArrayDeque;
    flags: ACC_PUBLIC, ACC_STATIC

**static init code (method <clinit>) like:**
    static {};
    Signature: ()V
    flags: ACC_STATIC
    Code:
    stack=2, locals=0, args_size=0
    0: new           #2                  // class java/util/Arra

[2014-06-16 15:05] jdettlaff commented on #140
After a lot of thinking: TEN! Now i just need to know where to put that number.

[2014-06-16 15:32] vincentbohlen commented on #132
#146

[2014-06-16 15:39] jdettlaff commented on #140
Set to 20. Just to be safe.

[2014-06-16 15:39] #140 closed, assigned to jdettlaff

[2014-06-16 18:24] #148 closed, assigned to hanintalal

[2014-06-16 18:24] #149 closed, assigned to hanintalal

[2014-06-16 18:26] hanintalal opened #151 "'[' als Valid string parsen"

[2014-06-16 21:08] ChrisKujawa opened #152 "insert ArrayDeque into constant pool"
http://docs.oracle.com/javase/7/docs/api/java/util/ArrayDeque.html

[2014-06-16 21:33] vincentbohlen commented on #150
also ich habe jetzt quasi folgende Zeile im Constantpool umgesetzt:

public static ArrayDeque stack = new ArrayDequeu();

welchen Datentyp soll der stack noch bekommen?
Das ist wichtig für die < clinit > methode.
Ich nehme an char oder string?

[2014-06-16 21:34] kretzschi commented on #150
So, ging schneller als gedacht. Also alle Field-Variablen in Java sind vom Type **CONSTANT_FieldRef**. Die Struktur im CP:

[15] CONSTANT_FieldRef  class_index=16  name_and_type_index=43

Der class_index ist für alle Fields gleich, es ist ein Eintrag vom Typ **CONSTANT_Class** mit einem name_index, der immer (ja für alle Fields ob privat, public, static, ...) auf ein **CONSTANT_Utf8  bytes="Field"

[2014-06-16 21:36] vincentbohlen commented on #150
schreibe ich morgen noch dazu. jetzt will ich auch ins bett.

[2014-06-17 09:33] kretzschi commented on #150
@Vincent: Gerade habe ich erst deinen Kommentar davor gelesen. Wenn die ArrayQueue von einem bestimmten Typ sein soll, dann bekommt das Field noch das **Signatur Attribut** hinzu.
Dieses hat die Form:

Signature_attribute {
    u2 attribute_name_index;
    u4 attribute_length;
    u2 signature_index;
}
http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.7.9

Dafür muss im CP noch

[2014-06-17 17:56] ChrisKujawa opened #153 "impl ArrayDeque push method"

[2014-06-17 17:56] ChrisKujawa opened #154 "impl ArrayDeque pop method"

[2014-06-17 17:57] ChrisKujawa commented on #152
done by @s0taka see #150

[2014-06-17 17:57] #152 closed, assigned to nobody

[2014-06-17 17:58] ChrisKujawa opened #155 "create field info section to classfile"
add ArrayDeque to classfile as field ref

[2014-06-17 18:08] ChrisKujawa opened #156 "add cast from obj to integer to bytecode generator"

[2014-06-17 18:14] ChrisKujawa commented on #156
<pre>
    Integer a = 5;
    Object b = a;

    Integer c = (Integer) b;
</pre>

<pre>
Compiled from "JavaByteCode.java"
public class javabytecode.JavaByteCode {
  public javabytecode.JavaByteCode();
    Code:
       0: aload_0
       1: invokespecial #1                  // Method java/lang/Object."<init>":()V
       4: return
  public static void main(java.lang.String[]);
    Code:
       0: icon

[2014-06-17 18:58] jdettlaff commented on #118
Mostly done. Remainder in separate tickets. Closing this.

[2014-06-17 18:58] #118 closed, assigned to jdettlaff

[2014-06-17 20:05] #150 closed, assigned to vincentbohlen

[2014-06-17 20:28] mbaeten commented on #145
Das muss zwischen ASG und Backend passieren, sonst müssen unmarshall und marshall beide angepasst werden (unnötig). Das sollte im besten Fall trotzdem jemand aus dem Frontend machen

[2014-06-17 21:05] vincentbohlen commented on #146
Ich habe mir mal die output_bytecode() methode vorgenommen und überarbeitet. So müsste das ganze aussehen.

  uint16_t field_system_idx = BytecodeGenerator::add_field("java/lang/System", "out", "Ljava/io/PrintStream;", constantPool);
  BytecodeGenerator::add_static_field(field_system_idx, constantPool, result);
  uint16_t field_stack_idx = BytecodeGenerator::add_field("Main", "stack", "Ljava/util/

[2014-06-17 21:12] jdettlaff commented on #146
Hi hab die globalstack_pop() eben implementiert, die trägt auch Dinge bei Bedarf in den ConstantPool ein die nicht da sind. Sollte also in jedem Fall reichen.

[2014-06-17 21:17] vincentbohlen commented on #146
nein tut sie nicht, denn der constantpool ist zu dem zeitpunkt schon geschrieben. es erscheint nur das n der classfile im CP, was im CP constructor gesetzt wird.
ich habe deine methode aber trotzdem gerne benutzt.

[2014-06-17 21:34] kretzschi commented on #155
done

[2014-06-17 21:34] #155 closed, assigned to kretzschi

[2014-06-18 09:49] mauriceAlthoff opened #157 "constant pool constructor cleanup"
remove graph as parameter and put rail function insertion code into backend.cc, also use constant pool methods to insert java lang features.

[2014-06-18 10:00] mauriceAlthoff commented on #123
um integer konstanten zu pushen

[2014-06-18 10:31] ChrisKujawa commented on #156
done

[2014-06-18 10:31] #156 closed, assigned to ChrisKujawa

[2014-06-18 10:31] ChrisKujawa commented on #154
#156 should be cast

[2014-06-18 11:17] ChrisKujawa commented on #153
done

[2014-06-18 11:17] #153 closed, assigned to ChrisKujawa

[2014-06-18 11:19] jdettlaff commented on #154
Warum cast?

[2014-06-18 12:53] #154 closed, assigned to jdettlaff

[2014-06-18 12:54] ChrisKujawa commented on #154
Weil wir die Values als objects in die Deque speichern und beim rausholen wieder casten muessen

[2014-06-18 13:04] jdettlaff commented on #154
Sorry wenn ich verwirrt bin aber es gibt im Bytecode doch keine Casts,
du kannst doch nur schauen ob eine Objectref zu einer bestimmten Class
gehört mit checkcast. Aber wofür muss pop wissen was für ein Object
geholt wird?

[2014-06-18 13:06] ChrisKujawa commented on #154
Weil wir im ArrayDeque kein Typ angeben ergo speichern wir nur Objects d.h. um dann mit den Values wieder arbeiten zu koennen muessen wir es nach dem rausholen wieder casten mithilfe von checkcast (hab es mal als beispiel impl. Integer i = (Integer) obj; da wurde dann auch checkcast benutzt^^ komischer name fuer den cast... )

[2014-06-18 13:08] ChrisKujawa commented on #146
habe mal noch nen struct hinzugefuegt fuer ArrayDeque das die indicies speichert - pop und push dabei angepasst (done)

[2014-06-18 13:08] #146 closed, assigned to nobody

[2014-06-18 13:11] jdettlaff commented on #154
Aber es ist kein Cast, es gibt keine Casts, es gibt doch nur Referenzen
auf Objects. checkcast verändert nichts an der Object reference. Es
prüft nur ob die Referenz auf ein Object des angegebenen Typs zeigt...
ich glaube das muss ich mir gleich nochmal im Chat erklären lassen.
Komme dann online...

[2014-06-18 15:22] vincentbohlen opened #158 "Adjust btecode_generator methods to use global stack"

[2014-06-18 18:48] ChrisKujawa opened #159 "Backend: adjust conditionals"

[2014-06-18 18:49] ChrisKujawa opened #160 "Backend: adjust arithmetics"

[2014-06-18 20:53] mauriceAlthoff commented on #123
scheinbar brauchen wir das nicht

[2014-06-18 20:53] #123 closed, assigned to mauriceAlthoff

[2014-06-18 21:26] kretzschi opened #161 "Bier trinken !!!"
Nach einem erfolgreichen Tag, endlich das ersehnte Ticket eröffnet.
Einfach das Ticket kommentieren, um "Teilnehmer" zu werden :beer: :beers:

[2014-06-18 21:29] ChrisKujawa commented on #161
dabei!

[2014-06-18 21:32] mbaeten commented on #161
Prost ihr beiden ;) Das Ticket müsst ihr mindestens noch bis Montag bearbeiten! ^^ Habt's euch verdient

[2014-06-18 21:33] ChrisKujawa commented on #161
Haha klingt fair :D

[2014-06-18 22:24] #158 closed, assigned to nobody

[2014-06-18 23:09] vincentbohlen commented on #161
Bin auch dabei =) Freu mich schon auf Grillen nächste woche.

[2014-06-19 08:42] hanintalal commented on #161
diese Idee bring für mich eine andere Idee .
wir bleiben ung. 4 Stunden im Projekt und es wird cool wenn wir immer etwas zum essen und trinken für uns besorgt und jeder sagt was einen mitbringen kann .
seid ihr einverstanden ?

[2014-06-19 08:58] ChrisKujawa opened #162 "Adjust true false handling (use Integer object)"

[2014-06-19 09:08] ChrisKujawa commented on #162
done

[2014-06-19 09:08] #162 closed, assigned to ChrisKujawa

[2014-06-19 09:17] ChrisKujawa opened #163 "fix append Bug"
use: Tests/test-cases2/append.txt

<pre>

$ java Main
Exception in thread "main" java.lang.VerifyError: Bad type on operand stack
Exception Details:
  Location:
    Main.main([Ljava/lang/String;)V @34: invokevirtual
  Reason:
    Type uninitialized 30 (current frame, stack[1]) is not assignable to 'java/lang/StringBuilder'
  Current Frame:
    bci: @34
    flags: { }
    locals: { '[Ljava/lang/Str

[2014-06-19 09:17] ChrisKujawa commented on #163
Warum nicht einfach String.concat benutzen ?!

[2014-06-19 09:21] ChrisKujawa commented on #160
<pre>
$ java Main
Exception in thread "main" java.lang.VerifyError: Local variable table overflow
Exception Details:
  Location:
    Main.main([Ljava/lang/String;)V @37: istore_1
  Reason:
    Local index 1 is invalid
  Bytecode:
    0000000: b200 4512 47b8 003a b600 42b2 0045 1248
    0000010: b800 3ab6 0042 b200 45b2 0045 b600 41c0
    0000020: 0027 b600 3b3c b200 45b6 0041 c000 27b6
    0000030

[2014-06-19 09:23] vincentbohlen commented on #163
ich bin gerade dabei

[2014-06-19 09:23] vincentbohlen commented on #163
funktioniert auch schon, aber unsere constant_pool:addConstString macht fehler

[2014-06-19 09:24] ChrisKujawa commented on #163
alles klar sag wenn hilfe brauchst ansonsten guck ich erstmal nach weiteren bugs

[2014-06-19 09:24] vincentbohlen commented on #163
guck lieber weiter.

[2014-06-19 09:28] vincentbohlen commented on #163
jetzt hast du den classfix gelöscht? wie bekomme ich die sachen jetzt in den master, wenn ich lokal noch auf classfix arbeite?

[2014-06-19 09:28] ChrisKujawa opened #164 "fix div bug"
Test/test-cases2/div.txt

<pre>
 java Main
Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer
        at Main.main(Unknown Source)
</pre>

[2014-06-19 09:30] ChrisKujawa commented on #163
ja na hab doch gestern schon gesagt ihr sollt auf dem master arbeiten ^^ kannst das glaube commiten dann git checkout master machen und dann mergen mit deinem classFix branch

[2014-06-19 09:35] vincentbohlen commented on #164
das passiert, weil in der file [10] gepushed wird. eben das auflösungsproblem, was leon bearbeiten wollte. was auch [hello world\n] verschuldet

[2014-06-19 09:35] #163 closed, assigned to nobody

[2014-06-19 09:36] kretzschi commented on #74
Habe gerade typecheck eingebaut, nun bekomme ich folgenden Fehler:

Exception in thread "main" java.lang.VerifyError: Expecting a stackmap frame at branch target 50
Exception Details:
  Location:
    Main.main([Ljava/lang/String;)V @50: if_icmple
  Reason:
    Expected stackmap frame at this location.
  Bytecode:
    0000000: b200 4512 47b8 003a b600 42b2 0045 1248
    0000010: b800 3ab6 0042 b200

[2014-06-19 09:37] ChrisKujawa commented on #164
ah stimmt jo

[2014-06-19 09:37] #164 closed, assigned to nobody

[2014-06-19 09:46] ChrisKujawa opened #165 "fix bug size of string"
<pre>

$ java Main
Exception in thread "main" java.lang.VerifyError: Bad type on operand stack
Exception Details:
  Location:
    Main.main([Ljava/lang/String;)V @14: invokevirtual
  Reason:
    Type 'java/lang/Object' (current frame, stack[0]) is not assignable to 'java/lang/String'
  Current Frame:
    bci: @14
    flags: { }
    locals: { '[Ljava/lang/String;' }
    stack: { 'java/lang/Object'

[2014-06-19 09:47] ChrisKujawa opened #166 "fix bug multicut"
<pre>
$ java Main
Exception in thread "main" java.lang.VerifyError: Local variable table overflow
Exception Details:
  Location:
    Main.main([Ljava/lang/String;)V @44: astore_2
  Reason:
    Local index 2 is invalid
  Bytecode:
    0000000: b200 4512 48b6 0042 b200 4512 49b8 003a
    0000010: b600 42b2 0045 b200 45b6 0041 c000 27b6
    0000020: 003b 3cb2 0045 b200 45b6 0041 4db2 0045
    0000030

[2014-06-19 10:20] ChrisKujawa commented on #74
http://stackoverflow.com/questions/15122890/java-lang-verifyerror-expecting-a-stackmap-frame-at-branch-target-jdk-1-7

[2014-06-19 10:25] kretzschi commented on #74
Hab ich auch schon gelesen, aber ist es die Lösung die JVM anzupassen? Muss mir demnächst die StackMap mal genauer anschauen.

[2014-06-19 10:39] ChrisKujawa commented on #74
nee eher die stackmap impl.

[2014-06-19 14:03] ChrisKujawa opened #167 "Bytecode for Junctions"

[2014-06-19 14:07] ChrisKujawa opened #168 "support more than one function"
At this time we are support only one function 'main' we need to support other function and also function calls

[2014-06-19 14:11] ChrisKujawa opened #169 "add bytecode for variable support"
we need to support variables - so we must add maybe a symboltable or something else

[2014-06-19 15:46] mbaeten opened #170 "ASG nach Erstellung auf Fehler prüfen"
- Doppelte Funktionsnamen
- ---{foo}--- aber Funktion 'foo' existiert nicht
- korrupte csv files (werden von Haskell erzeugt):<br />
  [main]<br />
  1;v;0;2<br />
  2;#;0;0<br />
- ...

[2014-06-20 05:15] kretzschi opened #171 "handle -1 of compareTo"
For the greater Method, we use compareTo in java/lang/Interger. It returns 1 (a > b), 0 (a = b) or -1 (a < b).
We have to think about how to handle the different possible results in bytecode.

[2014-06-20 06:53] ChrisKujawa commented on #171
Ich wuerds einfach in eine 0 wandeln

[2014-06-20 08:04] ChrisKujawa opened #172 "Refactor Bytecode generator"

[2014-06-20 11:47] #112 closed, assigned to ccebinger

[2014-06-20 12:03] #157 closed, assigned to mauriceAlthoff

[2014-06-20 16:03] jdettlaff commented on #145
Dies gilt auch für Variablennamen - sollte als Argument im Command nur _varname_ statt (!_varname_!) oder (_varname_) haben.

[2014-06-20 16:04] jdettlaff commented on #169
Almost done. Still needs Ticket #145 to work or be tested.

[2014-06-21 08:50] mbaeten commented on #145
Betrifft das auch Methodenaufrufe {foo} ?
Ja wie gesagt 2 Möglichkeiten:
1. Wir passen Parser, marshall und unmarshall an
2. Ihr entfernt den Spass an einer Stelle im Backend

Ich bin stark für 2. und ich würds euch auch bauen. Dann müsst ihr mir nur mal sagen wo genau der Code für die 2-3 Sachen ist

[2014-06-21 09:05] mbaeten commented on #66
Ist abgeschlossen, für unmarshall gibts ja nen anderes Ticket.

[2014-06-21 09:05] #66 closed, assigned to ChrisKujawa

[2014-06-21 09:23] mbaeten opened #173 "Editor in Jenkins einbinden"

[2014-06-21 11:50] jdettlaff commented on #145
Das betrifft alle Argumente von Rail-Befehlen - also auch Methodenaufrufe - wir brauchen halt allgemein nur den String ohne das Rail-Gedöns.
Es reicht eine Methode (ich schlage einfach mal vor in backend.cc oder der Graphs-Klasse oder direkt der Command-Klasse) die zu einem Command den Argument-String ohne den Rail-Ballast zurückgibt. Und idealerweise direkt escapte Zeichen (\n) mit umwandelt.

[2014-06-21 14:46] ChrisKujawa commented on #172
done!!

[2014-06-21 14:46] #172 closed, assigned to ChrisKujawa

[2014-06-21 15:41] ChrisKujawa opened #174 "Bytecode class documentation"

[2014-06-21 18:00] leonbornemann opened #175 "Serialisierung/Deserialisierung für die backend Gruppe anpassen"
Das backend möchte, dass Variablennamen/Funktionsnamen/Konstanten in der graphs-Datenstruktur ohne die Klammern/Ausrufezeichen gespeichert werden, da sie so direkt darauf zugreifen können.

[2014-06-21 18:01] mbaeten commented on #175
dafür gibt es bereits ein Ticket: #145

[2014-06-21 18:01] leonbornemann opened #176 "Variablen pop/push vernüfntig deserialisieren"
Im Moment funktioniert die Deserialisierung für Variablen nicht

[2014-06-21 18:01] #175 closed, assigned to leonbornemann

[2014-06-21 18:03] mbaeten commented on #176
Das ticket gibts schon: #66 #71

[2014-06-21 18:03] #176 closed, assigned to leonbornemann

[2014-06-21 18:04] leonbornemann commented on #145
Hiho,

Eigentlich wollte ich das gestern schon fertig haben, leider hab ich es
nicht mehr geschafft - sorry dafür ich mache es heute Abend/Nacht fertig.

Grüße,
Leon

Am 21.06.2014 13:50, schrieb jdettlaff:

[2014-06-21 22:57] leonbornemann commented on #145
Die funktion ist geschrieben - ich habe sie erstmal bei graphs.ccp hinzugefügt.
Funktionsname: "extractAstCommandString" kriegt ein command übergeben und liefert den command-string ohne Rail-Gedöns (geiles Wort) zurück.

[2014-06-21 22:57] #145 closed, assigned to leonbornemann

[2014-06-22 09:22] ChrisKujawa commented on #145
Ich habs mal ins Command struct verschoben im Graphs machts wenig Sinn. Zudem dann noch mal angepasst das die ]Hello[ auch entfernt werden.

[2014-06-22 12:59] vincentbohlen commented on #165
Scheint zu funktionieren. War wohl noch nicht ganz fertig, als das issue erstellt wurde.

[2014-06-22 12:59] #165 closed, assigned to nobody

[2014-06-22 13:20] vincentbohlen commented on #160
done.

[2014-06-22 13:20] #160 closed, assigned to vincentbohlen

[2014-06-22 13:21] vincentbohlen commented on #166
bug fixed

[2014-06-22 13:21] #166 closed, assigned to nobody

[2014-06-22 16:00] ChrisKujawa commented on #71
done

[2014-06-22 16:00] #71 closed, assigned to zarradmh

[2014-06-22 16:12] ChrisKujawa commented on #57
Maurice guck dir mal bitte den Constantpool an. Um genauer zu sein deine Vergleiche im UTF8 Encoding dort werden Warnings vom Compiler geschmissen das diese Vergleiche immer True ergeben.

[2014-06-22 16:14] ChrisKujawa commented on #57
<pre>||=== Build: Debug in CBFrontEnd (compiler: GNU GCC Compiler) ===|
In member function ‘void ConstantPool::putUTF8(std::string)’:
|warning: comparison is always true due to limited |In member function ‘void ConstantPool::encodeUTF8(std::string, uint32_t)’:
warning: comparison is always true due to limited range of data type [-Wtype-limits]|
warning: comparison is always false due to limited ra

[2014-06-22 17:26] hanintalal commented on #96
vielleicht hift Testautomatesierung "open source Framework " wie http://robotframework.org

[2014-06-23 10:14] mauriceAlthoff commented on #57
Das sind falsche Warnungen der Compiler kommt nicht mit integer literals zurecht. Das muesste man mit einem Makro unterdruecken

[2014-06-23 11:24] mbaeten commented on #96
Das Thema wurde bereits mit der Haskell Gruppen abgesprochen und ist schon in der "Produktion". Trotzdem interessant, danke ;)

[2014-06-23 11:25] ChrisKujawa opened #177 "use extractCommand method in Bytecode class"

[2014-06-23 11:28] ChrisKujawa commented on #57
Dann mach das bitte :D dann sind wir die Warnungen auch los

[2014-06-23 11:32] mbaeten commented on #57
"else if (c > 0x7FF)" mit uint8_t für c ist aber korrekt. das kann nie wahr werden. Wo ist da die meldung falsch? 0x7FF = 2047 dezimal und uint ist halt 2^8 = 0-255

[2014-06-23 11:33] ChrisKujawa commented on #57
Btw 0xB1 ist 177 du willst aber auf 127 testen dann musst du 0x7f benutzen

[2014-06-23 11:37] mbaeten commented on #57
Und unterdrück die Warnungen bitte nicht einfach. Wenns damit später Probleme geben sollte findet man genau solche Stellen nicht mehr. Dann lass lieber die Warnings drin bis wir das gründlichst durchleutet haben.

[2014-06-23 11:37] ChrisKujawa opened #178 "Impl Boom system command into Bytecode"
Throw exception or return (throwing is much better because the program should crash after boom)

[2014-06-23 11:56] ChrisKujawa commented on #177
done

[2014-06-23 11:56] #177 closed, assigned to ChrisKujawa

[2014-06-23 12:30] tmichaelis commented on #96
Der Stand ist, dass die Haskell Gruppe bereits so weit damit fortgeschritten ist, dass sie das ganze übernimmt.

lg Tomasz

Date: Mon, 23 Jun 2014 04:24:42 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
Subject: Re: [SWPSoSe14] Testautomatisierung (#96)

Das Thema wurde bereits mit der Haskell Gruppen abgesprochen und ist schon in der "Produktion". Trotzdem interessant, dank

[2014-06-23 12:34] vincentbohlen commented on #85
Ich vermute, dass die JVM das gut hinkriegen wird, wenn die Funktionsaufrufe aus M2 erledigt sind.

[2014-06-23 13:10] ChrisKujawa commented on #178
done

[2014-06-23 13:10] #178 closed, assigned to ChrisKujawa

[2014-06-23 13:11] ChrisKujawa opened #179 "Add Stackmap to class file"

[2014-06-23 13:18] ChrisKujawa commented on #179
http://chrononsystems.com/blog/java-7-design-flaw-leads-to-huge-backward-step-for-the-jvm

[2014-06-23 13:19] ChrisKujawa commented on #179
http://docs.oracle.com/javase/specs/jvms/se7/html/jvms-4.html#jvms-4.7.4

[2014-06-23 13:20] ChrisKujawa commented on #179
@kretzschi  wir muessen das Code Attribute anpassen... ''A method's Code attribute may have at most one StackMapTable attribute.''

[2014-06-23 14:47] kretzschi commented on #179
Japp, ich schau mal rein.

[2014-06-23 16:47] jdettlaff commented on #169
Since Ticket #145 and #177 are implemented, done. Still can't be tested properly.

[2014-06-23 16:47] #169 closed, assigned to jdettlaff

[2014-06-23 16:48] ChrisKujawa opened #180 "impl underflow command"

[2014-06-23 17:50] ChrisKujawa commented on #180
done

[2014-06-23 17:50] #180 closed, assigned to ChrisKujawa

[2014-06-23 17:54] KosticS opened #181 "Endlosschleifen mit Rails Parsen"

[2014-06-23 18:33] kretzschi commented on #179
Mal ein Beispiel für einen einfachen StackMapTable.
Folgende java-Datei wurde compiliert:
_[...]
int a = 78;
int b = 52;
boolean c = (a > b);
[...]_

Durch das Verzweigen, werden zwei stack frames erstellt, einer für den Fall, der der PC einfach "weiterläuft", der andere, falls gesprungen wird (wenn a <= b).

**StackMapTable: number_of_entries = 2
        frame_type = 253 /\* append _/
          o

[2014-06-23 19:23] mbaeten commented on #96
Wir bauen das trotzdem selber mit Java, da bei uns kaum jemand gut in shell scripting ist und wir gerne mehr Kontrolle über das Sub-Projekt hätten.

[2014-06-23 19:24] mbaeten commented on #96
Zusätzlich interpretiere ich das Ticket mal um und sage, dass das später Jenkins betrifft, also mich. Das eigentliche Ticket für die Tests ist hier: #94

[2014-06-23 19:26] mbaeten commented on #70
Mit Editor-Gruppe abgesprochen und bereits umgesetzt:
- Warnings auf std::cout
- Errors auf std::cerr
- Exceptions auf std::cerr

[2014-06-23 19:26] #70 closed, assigned to nobody

[2014-06-23 19:26] ChrisKujawa opened #182 "Parser pop push confusion"

[2014-06-23 19:29] ChrisKujawa commented on #182
done !

[2014-06-23 19:29] #182 closed, assigned to ChrisKujawa

[2014-06-23 19:30] mbaeten commented on #173
- qt4 reicht nicht
- qt5 aus ppa war zu veraltet
- upcoming next: qt5.3 aus git repo kompilieren

[2014-06-23 19:32] ChrisKujawa opened #183 "implement Variable tables"

[2014-06-23 19:40] jdettlaff opened #184 "Variable pop: aload index is wrong"
a la:
astore 4
astore 5
[...]
aload 6 // should be 4
aload 6 // should be 5

[2014-06-23 19:40] ChrisKujawa commented on #183
maybe the same #179 ?

[2014-06-23 19:42] jdettlaff opened #185 "Implement reading from System.in for Rail 'i' command"

[2014-06-23 20:05] ChrisKujawa commented on #184
das problem ist das beim Push der Variablen name ! enthaelt...

[2014-06-23 20:23] ChrisKujawa commented on #184
sorry found and fixed bug (duplicated problem from #182) :D

[2014-06-23 20:23] #184 closed, assigned to jdettlaff

[2014-06-24 11:07] ChrisKujawa opened #186 "fix increment local variable bug"
the local variables are not increment anymore ...

[2014-06-24 11:22] kretzschi commented on #186
Um dir Arbeit zu ersparen, hier die Methoden (die implementiert sind) und um wie viel diese den count hochzählen:

_output_Bytecode
// add 1
add_integer_calculation
// add 2
cut_ByteCode
// add 2
append_ByteCode
// add 2
false_ByteCode
// add 1
greater_ByteCode
// add 3
equal_ByteCode
// add 3
true_ByteCode
// add 1_

Vergiss den +1 nicht, wenn die main-Methode benutzt wird (durch das String[] Arg

[2014-06-24 11:23] ChrisKujawa commented on #186
Sauber danke :) ja naja das plus eins kann ich ja glei beim ctor setzen

[2014-06-24 14:15] mauriceAlthoff commented on #57
das testet ob es ein 1 , 2 oder 3 byte grosses zeichen ist und bei utf8 geht das erste byte von 0 - 7F, das zweite von 80 -  7FF und das dritte von 0800 - FFFF.
Es steht in den Kommentaren zwar die zahlen 1 bis 127 damit sind aber die utf8 zeichennummern gemeint. Also soll ich die Warnungen so lassen?

[2014-06-24 15:02] kretzschi commented on #179
http://cr.openjdk.java.net/~andrew/jdk6-hs17-merge/raw_files/old/src/share/vm/classfile/
Wie schon einmal zitiert, es schmerzt einfach nur, sich mit dem StackMapTable auseinanderzusetzen.

[2014-06-24 18:41] mbaeten commented on #57
So jetzt hab ich begriffen, was du genau machen willst...
Um zu erfahren, wie viele bytes ein Unicode Zeichen in Utf-8 benötigt brauchst du aber auch nen Unicode Zeichen. Du vergleichst da aber nur ein byte. Das kann nicht klappen. Unicodes brauchen bis zu 4 bytes. Dein Check ist also trotzdem falsch und die Warnung korrekt.

Schau dir mal in common/Encoding.h die Funktion getRuneByteCount() an. D

[2014-06-24 19:26] ChrisKujawa commented on #186
done

[2014-06-24 19:26] #186 closed, assigned to ChrisKujawa

[2014-06-24 19:27] ChrisKujawa commented on #183
denke mit #186 hat sich das auch erledigt

[2014-06-24 19:27] #183 closed, assigned to jdettlaff

[2014-06-25 09:54] leonbornemann commented on #183
Sorry fürs ausgraben, soll das Frontend hier bereits Arbeit leisten(soweit möglich), und Variablen eintragen?

[2014-06-25 09:57] leonbornemann commented on #183
Oh kann auch sein dass ich das Ticket mit der Symboltabelle verwechselt habe - wie ist da der Stand, soll da das Frontend noch zuarbeiten?

[2014-06-25 10:09] ChrisKujawa commented on #183
das ist denke passé

[2014-06-25 11:22] leonbornemann opened #187 "Fix gleiche Funtkionensnamen"
Es werden vom Parser mehrere Funktionen mit gleichem Namen akzeptiert(ist mit Rail-Interpreter konform aber ziemlich unsinnig). Sollte also wahrscheinlich geprüft und gefixt werden, sodass das nichtmehr akzeptiert wird.

[2014-06-25 11:31] mbaeten commented on #187
duplicate #170

[2014-06-25 11:31] #187 closed, assigned to nobody

[2014-06-25 11:52] leonbornemann commented on #181
done

[2014-06-25 11:52] #181 closed, assigned to nobody

[2014-06-25 13:26] mbaeten commented on #173
zum Kompilieren von QT aus dem git-repo fehlen der VM angeblich cpu instructions
-> wieder zurück auf ppa -> qt5
-> Makefile aus dem Projekt mag auch nur Fehler werfen
_Zum Haare ausreißen_

[2014-06-25 13:29] leonbornemann commented on #170
Bei Doppelten Funktionsnamen schmeißt der Lexer jetzt ne warning(der Compiler läuft aber noch durch

[2014-06-25 13:41] KosticS commented on #151
Du meinst das Escaping, oder ?
Also dass auch Strings wie '-----[hello world \] /n/]--o' geparst werden.

Denn Strings wie '---[hello world [ { } < > /n/]--o' können bereits gepars werden :)

[2014-06-25 13:56] mbaeten commented on #151
Esolang: "The '\' is used for quoting in a way similar to C (but palindromically). '\', '[', ']', newlines, and tabs must be quoted by '\', '\[\', '\]\', '\n\', or '\t\', respectively."

Dementsprechend sollte das Beispiel wie du es grade beschrieben hast garnicht gehen. Zumindest das hier nicht: ----[hello [ world]--- müsste ----[hello \[\ world]--- sein, sonst Fehelr

und das hier sollte momenta

[2014-06-25 14:01] ChrisKujawa commented on #151
Super waere wenn Ihr dann auch die '\' entfernt die zum Escaping von tab und newline benutzt werden. (Ist mir beim Hello World Test aufgefallen...)

[2014-06-25 14:02] mbaeten commented on #151
das müsste dann auch die methode von leon leisten hinterm AST. im AST muss immer das stehen, was auch serialisiert/deserialisiert werden muss.

[2014-06-25 14:10] ChrisKujawa commented on #151
Ja na mir is egal wie wollt nur anmerken das das noch nicht so ist ^^

[2014-06-25 14:11] leonbornemann opened #188 "Character Escaping in konstanten Strings implementieren"
Hat eventuell mit #151 zu tun.

Rail gibt selbst vor welche Zeichen extra escapt werden müssen, siehe http://esolangs.org/wiki/Rail bei constants. Rail escaping funktioniert dabei anders als normales escaping:
\n entspricht in rail: \n\
Die Frage ist was mit anderen escapebaren ascii zeichen passieren soll: http://en.wikipedia.org/wiki/ASCII also z.B. \0 oder \b
Sollen die auch in der Railweise es

[2014-06-25 14:17] leonbornemann commented on #151
Werde mich drum kümmern hab für das escaping nochmal nen extra ticket aufgemacht, weil mir da auch noch unklar ist wie einige sachen funktionieren sollen: #188

[2014-06-25 14:17] ChrisKujawa commented on #188
Warum sollte man \0 oder \b in einem String schreiben? Also sehe den Sinn gerade nicht^^ bzw ist es bei mir noch nie vorgekommen :D

[2014-06-25 14:19] leonbornemann commented on #188
Naja könnte ja schonmal vorkommen, dass man halt das nullbyte schreiben will also \0 halt(z.B. wenn man iwas schreibt, was in c eingelesen werden soll und das da direkt mit drin sein soll oder so - ist sicherlich etwas weit hergeholt aber anwendungsfälle gibts schon)

[2014-06-25 14:24] ChrisKujawa commented on #188
in Rail was schreiben was in C eingelesen werden soll ? :D

[2014-06-25 17:30] jdettlaff opened #189 "Implement Rail 'e' command by calling System.in.available()"
All refs needed should already be put in the constant pool.
Only impl. codegen::eof_ByteCode().

[2014-06-25 19:37] ChrisKujawa commented on #168
So hab deinen Bug jetzt gefixed :)

fuer das folgende Rail Programm:

<pre>
cat test/multiCharCommand/function/fail/s_func_test.rail
$'main'(--):
 \
  \
   \
    \-------{test}--[SUCCESS]o--#
$'test'(--):
 \
  \
   \
    \-----{first}----{second}---#
$'first'(--):
 \
  \
   \
    \--[Hello]---#
$'second'(--):
 \
  \
   \
    \--o---#
</pre>

<pre>
$ javap -c Main.class
public class Main {
  public

[2014-06-25 19:37] #168 closed, assigned to vincentbohlen

[2014-06-25 20:02] ChrisKujawa opened #190 "'?' type check command into Bytecode"
'?' Type? (a -- b)
Returns 'string' or 'nil' or 'list' or 'lambda', depending on the type of the argument.
Pre:
Post: is_string(b)

[2014-06-25 20:12] ChrisKujawa commented on #21
#172

[2014-06-25 20:19] vincentbohlen commented on #168
krasse Sache. so schnell und ich stand da wie der esel vorm tor ._.

[2014-06-25 20:22] vincentbohlen opened #191 "String bug im Constantpool lösen"
Wenn mehrere Strings gepushed werden, werden alle Referenzen auf den ersten String gesetzt. Z.B. sichtbar im testcase s_append.rail

[2014-06-25 20:36] kretzschi commented on #179
Bei Fehlern mit dem StackMapTable, class-Datei mit der Flag -XX:-UseSplitVerifier ausführen. Umsetzung kann nicht abgeschätzt werden und wird deshalb verworfen.

[2014-06-25 20:36] #179 closed, assigned to kretzschi

[2014-06-25 20:42] ChrisKujawa commented on #168
:) next mal gleich fragen :) aber echt kuhl das das jetxt funktioniert wieder ein top ding was wir abhacken koennen sieht auch geil in der class datei aus :D

[2014-06-25 20:53] #191 closed, assigned to vincentbohlen

[2014-06-25 21:10] kretzschi opened #192 "Bug: Strange behavior of add_if_then_else Method"
Hab jetzt mal das greater mit der besagten Methode aufgerufen. Mit javap kommt folgendes:
[...]
      47: istore_2
      48: iload_1
      49: iload_2
      50: if_icmple     63
      53: iconst_1

Ist noch ok, aber dann:

[code]

Können wir und ja morgen mal anschauen.

[2014-06-25 21:14] ChrisKujawa commented on #192
Wtf jo ok

[2014-06-26 07:02] ChrisKujawa commented on #95
Super waere es wenn Ihr das schon parsen koennt das wir nur noch den Bytecode schreiben brauchen, falls wir es noch schaffen (ich hab da schon paar Ideen).

Dazu haette ich auch noch einpaar Fragen bzw. muessten wir das vorher abklaeren.

Gibt es pro Programm nur ein Lambda Ausdruck? oder wird die vorherige Annonyme Funktion
dann einfach ueberschrieben?

Sinnvoll waere es das Ihr dann fuer diese F

[2014-06-26 09:25] ChrisKujawa commented on #83
<pre>
$'main'(--):
 \
  \
   \---n[one]:[two]:[three]:---o---#
</pre>

Compiliert und gibt folgenden Output:

<pre>
$ java Main
[one, two, three]
</pre>

[2014-06-26 09:28] ChrisKujawa commented on #83
<pre>
$'main'(--):
 \
  \
   \---n1:2:[one]:[two]:[three]:---o---#
</pre>

<pre>
[1, 2, one, two, three]
</pre>

[2014-06-26 09:47] ChrisKujawa commented on #83
<pre>
':' Cons (a b -- c)
c is a list cell with a == cdr(c) and b == car(c)
Pre: is_list(a)
Post: is_list(c) && ~is_nil(c)
'~' List breakup (a -- b c)
b is cdr(a) and c is car(a)
Pre: is_list(a) && ~is_nil(a)
Post: is_list(b)</pre>

Das heisst fuer mich das Werte nur dann appended werden koennen wenn bereits eine List aufm Stack liegt .
(Die Beispiele im Esolang sind auch dem entsprechend gestalte

[2014-06-26 10:01] ChrisKujawa commented on #83
done

[2014-06-26 10:01] #83 closed, assigned to ChrisKujawa

[2014-06-26 10:03] ChrisKujawa opened #193 "Bug: List Testcases"
<pre>
':' Cons (a b -- c)
c is a list cell with a == cdr(c) and b == car(c)
Pre: is_list(a)
Post: is_list(c) && ~is_nil(c)
'~' List breakup (a -- b c)
b is cdr(a) and c is car(a)
Pre: is_list(a) && ~is_nil(a)
Post: is_list(b)</pre>

Das heisst fuer mich das Werte nur dann appended werden koennen wenn bereits eine List aufm Stack liegt .
(Die Beispiele im Esolang sind auch dem entsprechend gestalte

[2014-06-26 10:07] tmichaelis commented on #193
Welche testf?lle den genau ?

Date: Thu, 26 Jun 2014 03:03:22 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
CC: uzixbox@hotmail.de
Subject: [SWPSoSe14] Bug: List Testcases (#193)

':' Cons (a b -- c)
c is a list cell with a == cdr(c) and b == car(c)
Pre: is_list(a)
Post: is_list(c) && ~is_nil(c)
'~' List breakup (a -- b c)
b is cdr(a) and c is car(a)
Pre: is_list(a) && ~is_

[2014-06-26 10:22] ChrisKujawa commented on #193
s_cons_string.rail
s_breakup2.rail
 s_cons_nums.rail

Breakup 1 hab ich schon geaendert

[2014-06-26 10:35] tmichaelis commented on #193
Ich müsste das mal testen (habe gerade keine Möglichkeit), aber soweit ich das sehe sind die Fälle korrekt und laufen auch. Es muss keine leere Liste davor auf den stack gepusht werden.
Lg tomasz

Date: Thu, 26 Jun 2014 03:22:02 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
CC: uzixbox@hotmail.de
Subject: Re: [SWPSoSe14] Bug: List Testcases (#193)

s_cons_string.rail

s_bre

[2014-06-26 10:40] ChrisKujawa commented on #193
Hm naja weil in der Spezifikation z.B. steht
':' Cons (a b -- c)
c is a list cell with a == cdr(c) and b == car(c)
Pre: is_list(a)

was fuer mich heisst er prueft vorher ob a eine liste ist bzw wenn dir die Beispiele anguckst im esolang dann sind da auch leere liste vorher drauf.

[2014-06-26 10:41] ChrisKujawa commented on #193
zb das Beispiel http://esolangs.org/wiki/Rail#Something_larger

[2014-06-26 10:48] tmichaelis commented on #193
Ich glaub der Grund dafür dürfte folgender sein:

Es gibt in rail keine 2-elementigen Listen. Zb wenn du eine hast und ein Element rausnimmst, dann bleibt das letzte Element alleine auf dem Wrack und die Liste hat sich aufgelöst. Wenn du Algorithmen benutzt musst du ja prüfen, ob die Liste NIL ist. Das geht nur wenn du vorher ans Ende eine leere Liste angehängt hast, da du sonst kein Kriterium zum

[2014-06-26 10:49] tmichaelis commented on #193
Sry meinte es gibt keine 1-elementigen Listen.

Date: Thu, 26 Jun 2014 03:41:39 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
CC: uzixbox@hotmail.de
Subject: Re: [SWPSoSe14] Bug: List Testcases (#193)

zb das Beispiel http://esolangs.org/wiki/Rail#Something_larger

—
Reply to this email directly or view it on GitHub.

[2014-06-26 11:52] leonbornemann commented on #188
Das rail-escaping sollte jetzt funktionieren, ob wir anderes escaping implementieren sprechen wir am besten heute mit der anderen Firma ab :)

[2014-06-26 12:58] mbaeten commented on #173
läuft seit vorgestern

[2014-06-26 12:58] #173 closed, assigned to mbaeten

[2014-06-26 13:44] KosticS opened #194 "Kompletter Sprachumfang im Frontend ?"
Testen welche Funktion ggf. noch im Frontend implentiert werden müssen.
Das Issue #88 wurde aufgeteilt.

[2014-06-26 13:50] KosticS opened #195 "Wiki füllen"

[2014-06-26 14:03] hanintalal commented on #151
@leonbornemann  : ich kann dabei helfen ,wenn du am Mittwoch an der uni 12-14 bist
du kennst schon den Parser sehr gut und ich interessiere mich sehr mehr zu lernen :)
ich war letzten Mittwoch nicht da , weil ich zu beschäftigt war :+1:

[2014-06-26 14:24] KosticS opened #196 "Doxygen Doku zum Lexer"

[2014-06-26 14:26] KosticS opened #197 "Doxygen Doku zur Adjazenzliste"

[2014-06-26 14:27] KosticS opened #198 "Doxygen Doku zum Frontend"

[2014-06-26 14:27] KosticS opened #199 "Doxygen Doku zum Graph"

[2014-06-26 14:27] KosticS opened #200 "Doxygen Doku zur Main"

[2014-06-26 14:29] KosticS opened #201 "Doxygen Doku zum Encoding"

[2014-06-26 14:29] KosticS opened #202 "Doxygen Doku zu Env"

[2014-06-26 14:29] zarradmh opened #203 "Class zum rekursiv aufruf des Test Datein"

[2014-06-26 14:30] KosticS opened #204 "Doxygen Doku zum AST"

[2014-06-26 14:30] zarradmh opened #205 "Class zum Interpreter mit ein bestimmte Datei aufrufen"

[2014-06-26 14:33] ChrisKujawa commented on #204
Hab ich doch dokumentiert?

[2014-06-26 14:34] ChrisKujawa commented on #197
Hab ich auch gemacht?!

[2014-06-26 14:34] KosticS commented on #204
Dann kann es geschlossen werden :)

[2014-06-26 14:35] leonbornemann opened #206 "Lambda (&) parsen"
Command::Type ist lambda, command-string ist der name der lambda funktion(automatisch generiert),
Aufruf bleibt ein Funktionscall mit leerem command-string

[2014-06-26 14:37] #204 closed, assigned to nobody

[2014-06-26 14:39] leonbornemann opened #207 "Leerer Funktionsname im Lexer verbieten"
sollte nicht akzeptiert werden, gibt konflikte mit lambda calls

[2014-06-26 14:39] #199 closed, assigned to hanintalal

[2014-06-26 14:41] leonbornemann opened #208 "Lexer Refactoring: vector<Railfunction> zu Map<fname,Railfunction>"

[2014-06-26 14:42] KosticS commented on #197
Sorry, hab ich dann auch gesehen.

Ich hab erst mal nur die Anweisung von Leon ausgeführt und zu allen
Dateien ein Issue erstellt ;)

Am 26.06.14 16:34, schrieb Zelldon:

[2014-06-26 14:44] #197 closed, assigned to nobody

[2014-06-26 14:45] #196 closed, assigned to nobody

[2014-06-26 14:45] #201 closed, assigned to nobody

[2014-06-26 14:46] #202 closed, assigned to nobody

[2014-06-26 15:21] mbaeten opened #209 "reminder"
backend- > io extrem wichtig
miro -> mit bash-script die haskell-tests reviewen (branch x-testing)

[2014-06-26 17:35] leonbornemann commented on #188
Erstmal closed. Um andere escapings mit der Haskell Gruppe abzusprechen mache ich ein anderes Ticket auf

[2014-06-26 17:35] #188 closed, assigned to leonbornemann

[2014-06-26 18:41] #209 closed, assigned to mbaeten

[2014-06-26 18:50] mbaeten commented on #207
Das war schon drin:

// name exists && not empty
if(nameStart != std::string::npos && nameEnd != std::string::npos && nameStart+1 != nameEnd) { ... }

[2014-06-26 18:50] #207 closed, assigned to mbaeten

[2014-06-26 19:25] mbaeten commented on #208
done

[2014-06-26 19:25] #208 closed, assigned to mbaeten

[2014-06-26 21:10] ChrisKujawa commented on #192
<pre>
        50: if_icmple     57
        53: iconst_1
        54: goto          58
        57: iconst_0
        58: invokestatic  #81
</pre>

Fixed! :+1:

[2014-06-26 21:10] #192 closed, assigned to nobody

[2014-06-27 03:36] jdettlaff commented on #185
Now correctly pushes (globalstack) an Integer if a digit is read.

[2014-06-27 03:40] jdettlaff commented on #87
Gesplittet in #185 und #189. Größtenteils erledigt, insbesondere #185 komplett.

[2014-06-27 03:40] #87 closed, assigned to nobody

[2014-06-27 07:12] ChrisKujawa commented on #167
@mauriceAlthoff  Extrem wichtig! Bitte so schnell wie Moeglich.

[2014-06-27 08:51] kretzschi commented on #74
I hate this ticket!!!

[2014-06-27 08:51] #74 closed, assigned to kretzschi

[2014-06-27 09:13] ChrisKujawa commented on #74
haha top :dancer:

[2014-06-28 02:47] mbaeten commented on #185
Bitte nochmal evaluieren:
1. Das hier geht im Interpreter: echo "3" | rail-interpreter sourcefile.rail
2. system.in.read von der Console sollte auch gehen
3. Das Programm unten macht freude ;) Ne idee woran das liegt? _hust_ stackmap sucks _hust_

Rail-Programm:

<pre>
$ 'main' (--):
 \
  \---i-o---#
</pre>

<pre>
java test
Exception in thread "main" java.lang.VerifyError: Expecting a stackmap fra

[2014-06-28 04:40] ChrisKujawa commented on #185
<pre> java -XX:-UseSplitVerifier test </pre>

http://stackoverflow.com/questions/15253173/how-safe-is-it-to-use-xx-usesplitverifier

Oder die nicht so schoene Variante:

<pre> java -noverify test </pre>

[2014-06-28 04:40] #185 closed, assigned to jdettlaff

[2014-06-28 04:42] mbaeten commented on #185
i try ;D

[2014-06-28 04:44] mbaeten commented on #185
kk funzt, allerdings wird bei out noch println benutzt und ned print -.- Ich schreib Haskell mal ne mail

[2014-06-28 08:31] ChrisKujawa commented on #185
Kann man ja leicht aendern:)
Am 28.06.2014 06:44 schrieb "SilverBln" notifications@github.com:

[2014-06-28 09:30] hanintalal commented on #194
was it genau der Unterschied dazwischen und der" Test cases" ?
soll ich "test" schreiben oder einfach  jedes Befehl Probieren und, falls was schief gelaufen ist ,sag ich euch bescheid ?

[2014-06-28 09:37] hanintalal opened #211 "Presentation Ideen und Files"
ich finde ,ist es sinnvoll , wenn wir ab jetzt langsam und ständig für die letzte Presentation uns vorbereiten und alle dabei Hilfen :)
ich bin auch der Meinung ein klein Video "eine Minute "für die ganze Gruppe vorbereiten ,damit wie zeigen ,wie die gesamte Arbeit in swp interessant war ;)
denn die Presentation informative und "interessant " sein soll .
Das ist doch ein `Produkt ;)

[2014-06-28 13:22] mbaeten opened #212 "Typ-Vergleiche"
Bitte fixen

<pre>
'q' Is equal to (a b -- c)
    [...] If a and b are of different types, then they are always unequal.
</pre>

Test-Datei:

<pre>test/builtInCommand/conditional/equal_num_string.rail</pre>

<pre>
Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer
            at equal_num_string_cppCpp.main(Unknown Source)
        ABRT pro

[2014-06-28 13:34] mbaeten opened #213 "Parser ">" bitte mal evaluieren"
Testdatei dazu: test/builtInCommand/conditional/false.rail

Da sollte False rauskommen, es kommt aber True

[2014-06-28 17:45] kretzschi commented on #212
Ja, der Typvergleich steht noch aus, ist aber irgendwie nicht so trivial, wie ich dachte. Bin aber dran

[2014-06-28 17:47] hanintalal commented on #198
ich fange am Montag damit an ,weil ich einen "Seminar Paper" am Montag abgeben muss .
also bitte nimm auch diese Ticket von mir nicht !!!

[2014-06-28 17:57] kretzschi commented on #213
@mauriceAlthoff bearbeitet das Ticket zur Zeit. Siehe #167
Er zeigt True, weil wir zur Zeit alles noch "einebnen". Die f Funktion funktioniert soweit, habe ich gerade getestet.

[2014-06-28 19:23] mbaeten commented on #213
kk

[2014-06-28 19:24] mbaeten commented on #212
kk

[2014-06-29 10:16] ChrisKujawa commented on #212
@kretzschi http://stackoverflow.com/questions/10162802/see-if-two-object-have-the-same-type

<pre>
obj1.getClass().equals(obj2.getClass())
</pre>

Sollte doch funktionieren oder?

[2014-06-29 10:28] kretzschi commented on #212
Japp, das Problem ist nur, dass ich keinen Branch aus dem dynamisch erzeugten Code von equals bauen kann. Außerdem habe ich gerade gesehen, dass ich ja erst nur für ints den equals Vergleich drin habe., was sich schnell ändern lässt, sofern invoke virtual mitspielt :D

[2014-06-29 10:36] kretzschi commented on #212
Ach Kacke, ich weiß glaub ich, warum er immer beim invoken von equals "damals" nen Stack underflow geworfen hat ... mom, ich muss das noch überprüfen eben :D

[2014-06-29 10:39] ChrisKujawa commented on #212
Haha alles klar

[2014-06-29 11:05] kretzschi commented on #212
Ich könnte weinen, ich brauch gar nichts branchen, Java macht schon alles für mich .... :D Es war sooooooo einfach ... ;(

[2014-06-29 11:05] #212 closed, assigned to nobody

[2014-06-29 11:06] kretzschi commented on #75
Dieses ***\* Ticket hasse ich auch !!!

[2014-06-29 11:06] #75 closed, assigned to kretzschi

[2014-06-29 11:09] kretzschi commented on #159
Das Ticket ist obsolet, oder?

[2014-06-29 11:10] kretzschi commented on #171
Used primitive types!

[2014-06-29 11:10] #171 closed, assigned to kretzschi

[2014-06-29 18:46] mbaeten opened #214 "Y-Junction mit String aufm Stack muss crashen"
Eingabe: irgendein Buchstabe
Ergebnis: 2
Erwartet: Programm-Crash

<pre>
$ 'main'
 \      /-1o#
  \--i-&lt;
        \-2o#
</pre>

Y-Junctions: If the stack is empty or the value at the top of the stack is neither true nor false, then the train crashes.

[2014-06-29 20:43] mbaeten opened #215 "$ mit dir=SE kann drehen"
Das erlauben wir aktuell, ist aber eventuell ungewollt? Imo Entscheidungssache... esolang sagt dazu afair nichts...

<pre>
$ 'main'
|
#
</pre>

[2014-06-29 20:47] tmichaelis commented on #215
Ich denke, das müsste eigentlich falsch sein.
Falsch ist auch, wenn das Dollarzeichen verschoben ist etc. also wenn es nicht oben links in der Ecke anfängt, sondern etwas weiter rechts. Aber im Prinzip ist es egal. Ich sehe auch keinen Grund dafür, warum das nicht gehen sollte...

Date: Sun, 29 Jun 2014 13:43:59 -0700
From: notifications@github.com
To: SWPSoSe14@noreply.github.com
Subject: [SWPSoS

[2014-06-29 20:51] mbaeten commented on #215
Ich finds auch besser wenns geht... Wenn an der selben Stelle ein \ wäre, hätte es ja auch geklappt.

[2014-06-30 09:42] kretzschi commented on #85
Habe mir mal ein bisschen Bytecode zum Thema Rekusrion angeschaut. So wie ich das sehe, müssten Rekursion mit unseren Umsetzungen der _Conditionals_ im Zusammenhang mit _Funktionsaufrufen_ funktionieren.
Leider kann nichts getestet werden, da noch auf #167 gewartet werden muss.

[2014-06-30 09:44] kretzschi commented on #174
Verschiebe ich mal in MS3

[2014-06-30 09:48] ChrisKujawa commented on #85
Ja na wenn da bist heute abend keene info kommt muessen wir das ticket uebernehmen

[2014-06-30 10:54] #159 closed, assigned to kretzschi

[2014-06-30 12:28] mauriceAlthoff commented on #57
An der einen Stelle war der Fehler richtig. Ich vergleiche jetzt mit dem iterator aber die Fehler die jetzt noch kommen Stammen daher das wir std::basic_string<char> string benutzen und daher nicht alle utf8 Symbole abdecken. Wenn wir std::wstring benutzen oder einen eigenen nutzen sind die vergleiche gültig.

Die 3 Warnungen die jetzt noch da sind können aber so bleiben.

[2014-06-30 12:39] mauriceAlthoff commented on #213
Junctions sind noch nicht fertig deswegen klappt das noch nicht

[2014-06-30 17:42] jdettlaff commented on #189
Completed.

[2014-06-30 17:42] #189 closed, assigned to jdettlaff

[2014-06-30 18:59] jdettlaff opened #216 "Refactoring Bytecode::eof_Bytecode() + Bytecode::input_Bytecode()"
Should use the add_conditional_with_else-function instead of hardcoding the if-else-branches.

[2014-06-30 20:34] ccebinger commented on #174
Was ist hierbei genau zu tun?=

[2014-06-30 20:35] ccebinger commented on #167
Kann ich das übernehmen?

[2014-06-30 20:46] ChrisKujawa commented on #174
1. Bin ich da dran siehe assignee
2. Find ichs nicht sinnvoll das du die doku machst, weil du dadran nicht gearbeitet hast

[2014-07-01 04:38] #91 closed, assigned to nobody

[2014-07-01 12:25] kretzschi commented on #190
@s0taka sitzt du da z.Z. dran ?

[2014-07-01 17:08] vincentbohlen commented on #190
Mehr oder weniger. Habe vergessen mich rauszunehmen, nachdem du meintest, du wüsstest wies geht. Wenn du magst, können wir das auch zusammen machn. Musst mich nur briefen, wie du den typecheck benutzen willst.

[2014-07-01 20:27] kretzschi commented on #190
Im Prinzip gibt es zwei Möglichkeiten.
1. Wir prüfen auf instanceof und geben dann den jeweiligen Typ zurück (wäre ein switch, aber ekelhaft zu bauen)
2. Wir nehmen getClass() müssen aber die Ausgabe evtl umbiegen (weil die Methode ja sowas wie _"class java.lang.String"_ zurück gibt)

[2014-07-01 20:36] ChrisKujawa commented on #190
1. Waere sicher besser musste ja dann nur String.replace("java.lang.", "") machen

[2014-07-01 20:46] kretzschi commented on #190
Japp, das meinte ich. Aber vielleicht steht Vincent ja aufs branchen xD. getClass() müsste auch schon im CP sein, sofern ich es nicht wieder rausgenommen habe.

[2014-07-01 22:19] leonbornemann opened #217 "Testdateien für Lambda schreiben"
Geht dadrum den Parser diesbezüglich zu testen, weshalb ich das erstmal übernehmen würde.

[2014-07-01 22:21] leonbornemann opened #218 "Deserialisierung für Lambda anpassen"
In der Deserialisierung muss Lambda erkannt werden, und zwar so, wie es gerade vom Parser dort hineingeschrieben wird.

[2014-07-02 09:22] ChrisKujawa commented on #218
Was willste da anpassen ? Sollte genauso funktionieren wie es jetzt schon tut?

[2014-07-02 09:34] ChrisKujawa opened #219 "Lambda bytecode generation"
<b>Java Code:</b>

<pre>

public class LambdaBytecode {

  interface Lambda {
    public void closure();
  }

  public LambdaBytecode() {
  }

  public static void main(String[] args) {

    Lambda l = new Lambda() {

      @Override
      public void closure() {
        String s = "Hello";
        //more stuff
        System.out.print(s);
      }
    };
    String s = "World";
    l.closure();

[2014-07-02 09:47] ChrisKujawa commented on #219
Problem for each impl. (anonymous object) we need a new class file...

[2014-07-02 11:51] ChrisKujawa opened #220 "Bug: List append"
append Bytecode should get a conditional to check if its a list or not if not then create new list and these two objects into

[2014-07-02 15:55] vincentbohlen commented on #190
Wollen wir uns einfach morgen (12-14?) oder Freitag zusammensetzen und das machen?
Ich habe jetzt in der Zwischenzeit angefangen die Abschlusspräso vorzubereiten.

[2014-07-02 16:47] kretzschi opened #221 "Extra: Support negative numbers"
Sofern noch Zeit ist, wäre es schön, wenn wir Rail um negative Zahlen erweitern können. Wie wir es syntaktisch umsetzen würden, kann man ja mal bei Interesse diskutieren.

[2014-07-02 16:48] ChrisKujawa commented on #174
done !

[2014-07-02 16:48] #174 closed, assigned to ChrisKujawa

[2014-07-02 16:48] kretzschi opened #222 "Extra: support floating point numbers"
Sofern noch Zeit ist, wäre es schön, wenn wir Rail um floats erweitern können. Wie wir es syntaktisch umsetzen würden, kann man ja mal bei Interesse diskutieren.

[2014-07-02 16:51] ChrisKujawa commented on #222
da nen komma ja eh nicht benutzt wird oder nen punkt kann man das bestimmt ganz gut parsen

[2014-07-02 16:52] ChrisKujawa opened #223 "Create Lambda Interface class file"
#219

<pre>
public interface Lambda {
  void closure();
}
</pre>

<pre>
public interface Lambda
  SourceFile: "Lambda.java"
  minor version: 0
  major version: 51
  flags: ACC_PUBLIC, ACC_INTERFACE, ACC_ABSTRACT
Constant pool:
  #1 = Class              #7              //  Lambda
  #2 = Class              #8              //  java/lang/Object
  #3 = Utf8               closure
  #4 = Utf8

[2014-07-02 17:32] jdettlaff commented on #216
This is officially the worst ticket ever. Can't be refactored with what we have. Function won't need to be changed ever. Closed. THE CODE IS WORKING AS INTENDED AND DOCUMENTED. ALSO, I HATE C++.

[2014-07-02 17:32] #216 closed, assigned to jdettlaff

[2014-07-02 17:42] jdettlaff commented on #221
Wir unterstützen sie ja bereits:
$ 'main'
 -13so#
Gibt "-2" aus, dank java/lang/Integer.

Auch:
$ 'main'
 -[-3]2ao#
Gibt "-1" aus.
Gibt es überhaupt andere Stellen, wo negative Zahlen gesondert behandelt werden müssen?

[2014-07-02 17:58] mbaeten commented on #222
Wenn dann nen Punkt ;)
Da könnte man sich an die Haskell-Implementierung anlehnen. genau wie bei #221

[2014-07-02 18:20] KosticS opened #224 "Negative Zahlen im Parser testen"

[2014-07-02 18:20] KosticS opened #225 "Floating Points im Parser testen"

[2014-07-02 18:33] kretzschi commented on #221
Aber bei deinem ersten Beispiel, das - ist doch eine Rail oder ? wie rafft er denn da, dass es ein minus sein soll?

Aber sonst ist das gut zu wissen :D

[2014-07-02 18:37] mbaeten commented on #221
ist alles korrekt so.
---123--- ergibt auch 1,2,3
-1 etc geht nur mit [-1]

[2014-07-02 18:42] jdettlaff commented on #221
Im ersten Beispiel wird +1, dann +3 gepusht, dann subtrahiert, was korrekt -2 ergibt. Im 2. Beispiel wird die negative Zahl (mit eckigen Klammern) ja auch richtig gepusht.

[2014-07-02 18:45] kretzschi commented on #221
Achso, ja dann verstehe ich das! Top, dann schließe ich das mal wieder ;)

[2014-07-02 18:45] #221 closed, assigned to nobody

[2014-07-02 19:47] kretzschi commented on #220
Kannst du das Problem nochmal kurz mit einem Beispiel erklären? Kann irgendwie keinen Fehler reproduzieren. :)

[2014-07-02 21:15] ChrisKujawa commented on #223
Successfully!!!

<pre>
$ javap -c -v Lambda.class
Classfile SWPSoSe14/projekt-compiler/Lambda.class
  Last modified Jul 2, 2014; size 96 bytes
  MD5 checksum 3365ea437c966182b4a610d70cd155c4
public interface Lambda
  minor version: 0
  major version: 51
  flags: ACC_PUBLIC, ACC_INTERFACE, ACC_ABSTRACT
Constant pool:
  #1 = Utf8               java/lang/Object
  #2 = Utf8               Lambda
  #3 =

[2014-07-02 21:15] #223 closed, assigned to ChrisKujawa

[2014-07-02 21:17] ChrisKujawa commented on #220
<pre>
-----a--c--:---b---#
</pre>

[2014-07-02 21:17] ChrisKujawa commented on #220
Wenn keine Liste aufm stack liegt funktioniert das nicht, deshalb checken ob liste da wenn nein dann liste erzeugen und beide Werte rein packen!

[2014-07-03 00:57] KosticS commented on #225
Programme wie:

$ 'main'(--):
 \
    \ -------[5.5]----[4.4.5]----a-------o--#

werden ohne Fehler geparst. Darum müssen wir uns noch kümmern.

Das Testfiles liegen bei test/math/add_floats....

[2014-07-03 00:58] KosticS commented on #224
Beispiel

$ 'main'(--):
\
\ -------[-5]----[-2-]----a-------o--#

werden ohne Fehler geparst. Darum müssen wir uns noch kümmern.

Testfiles habe ich unter test/math/add_negativ.... gepusht

[2014-07-03 08:50] ChrisKujawa commented on #95
#219

[2014-07-03 10:23] leonbornemann commented on #218
Hier musste was angepasst werden, da der Lambda command string ja länger als 1 ist, also musste ein Fall hinzugefügt werden

[2014-07-03 10:25] leonbornemann commented on #218
Bei der Gelegenheit ist mir aufgefallen, dass default mäßig, also wenn keiner der abgedeckten Fälle zutrifft, die in der getCommand-Methode abgefragt werden als Command-Type einfach Output zurückgegeben wird. Sollte man hier nicht lieber eine Exception werfen?

[2014-07-03 10:30] #218 closed, assigned to leonbornemann

[2014-07-03 10:32] leonbornemann commented on #215
Würde ich heute mit Haskell mal drüber sprechen, ich kanns natürlich auch korrigieren, schlimm find ichs aber nicht.

[2014-07-03 10:33] #206 closed, assigned to leonbornemann

[2014-07-03 10:34] leonbornemann commented on #213
Da das ne backend Sache ist schließe ich das Ticket mal wieder

[2014-07-03 10:34] #213 closed, assigned to leonbornemann

[2014-07-03 10:35] leonbornemann commented on #170
Bezüglich korrupte serialisierte files unterhalte ich mich heute mal mit haskell - mal sehen was wir da machen

[2014-07-03 15:23] kretzschi opened #226 "Send java Test file for input"

[2014-07-03 17:42] jdettlaff commented on #226
Sent by mail. Have fun.

[2014-07-03 17:42] #226 closed, assigned to jdettlaff

[2014-07-03 17:48] jdettlaff commented on #224
Der Bug im Beispiel scheint zu sein, dass [-2-] vom Backend als Integer erkannt wird (-2) und nicht (was korrekt wäre) als String. Von eurer Seite aus ist dann alles OK. Habe für den sehr wahrscheinlichen Backend-Bug #227 aufgemacht.

[2014-07-03 17:52] jdettlaff opened #227 "Check/Fix String/Integer distinction when pushing a constant"
This program fragment will result in output "-7" when it should be an error. Looks like "-2-" is successfully converted to an int when it should stay a string.
------[-5]----[-2-]----a-------o--#

[2014-07-03 17:59] jdettlaff commented on #225
Sieht aus als ob dies exakt derselbe (Backend-)Bug ist wie in #224 + #227
Das Backend pusht bei [5.5] statt String "5.5" einen Integer "5" und statt String "4.4.5" einen Integer "4". Ist in dem Fall dann nicht euer Problem.

[2014-07-03 20:32] leonbornemann commented on #170
Das Einzige was hier laut Haskell passieren kann ist, dass beide Nachfolger 0 sind - das muss bei der Deserialisierung geprüft werden und in diesem Fall sollte eine Exception ausgegeben werden

[2014-07-03 20:36] leonbornemann opened #228 "Überprüfen ob nach Commands ein Richtungswechsel passieren kann"
Folgendes Szenario: man läuft nach Osten, liest ein Rail-command (z.B. 'o') und dann findet man östlich davon nichts sondern nur im nordosten ein '/' (also ein Richtungswechsel). Nach Haskell Gruppe soll das nicht gehen und wird auch vom Editor nicht akzeptiert. Das muss überprüft werden und das Verhalten unseres Parsers muss angepasst werden, falls dieser es akzeptiert.

[2014-07-03 20:37] leonbornemann commented on #215
Sollte nach möglichkeit korrigiert werden, falls wir nicht dazu kommen sollte dies aber auch nicht allzu schlimmsein, da es eine Feinheit ist, ich markier es mal mit Prio 2

[2014-07-03 20:52] mbaeten commented on #215
Jo sollten wir korrigieren, damit ein weiterer Haskell-test grün wird ^^ und prinzipiell haben sie damit recht wenn sie sagen, dass das ein Zeichen wie a, o, ... ist.

pls fix

[2014-07-03 20:55] mbaeten commented on #228
Ums mal deutlich zu machen ;)

<pre>
    /
---o
</pre>

[2014-07-03 21:22] jdettlaff commented on #227
Done, we now push a java/lang/String if the input begins with an int, but ends with non-numeric characters.

[2014-07-03 21:22] #227 closed, assigned to jdettlaff

[2014-07-05 13:35] mbaeten opened #229 "Lambda.class"
1. Bitte Namen und Pfad für die Lambda.class anhand von -o bestimmen, damit die im selben Ordner landen: Env.getDstClassfile() & Dateinamen ersetzen:

   <pre>
   -o some/random/path/out.class
   => some/random/path/out_lambda.class (brauch ich fürs testen)
   </pre>
2. erzeugt der Kram log files "abrt_checker_xxxxxxx.log"

   <pre>
   Uncaught java.lang.ClassNotFoundException exception in thread

[2014-07-05 13:51] ChrisKujawa commented on #229
Ja naja hab ja nich gesagt das ich schon fertig bin oder ^^ aber jo
Btw:
Was zur hoelle soll das sein ? (2. Zeile)

<pre>
pushconst_cpp.classcppCpp
</pre>

[2014-07-05 13:54] mbaeten commented on #229
Ne is alles kein Drama, stört nur grad beim Testing ;D
kA was das ist oder wo's herkommt... Wichtig ist mir gerade eig nur das mit dem Dateipfad/namen

[2014-07-05 13:55] ChrisKujawa commented on #229
Wie sieht denn dein Call aus? Lambda sollte gar nicht stoeren da es noch gar nicht in der Main eingebunden ist :)

[2014-07-05 14:02] mbaeten commented on #229
Kompilieren

<pre>
../jail/projekt-compiler/Debug/jail -q -i ../jail/projekt-compiler/test/multiCharCommand/constant/pushconst.rail -o tmp/pushconst_cpp.classcppCpp.class
</pre>

Ausführen

<pre>
java -XX:-UseSplitVerifier -cp tmp/ pushconst_cpp.classcppCpp
</pre>

[2014-07-05 14:02] mbaeten commented on #229
huch ja ok ich sehs grad selbst... _facepalm_

[2014-07-05 14:03] ChrisKujawa commented on #229
Hehe alles klar

[2014-07-05 14:14] mbaeten commented on #229
break; vergessen in nem switchblock... schon peinlich ;D Jetzt erzeugt er immerhin keine komischen log files mehr, sondern nurnoch eine Lambda.class im falschen Ordner

[2014-07-05 14:18] ChrisKujawa commented on #229
wieder ein grund warum switch scheisse is :D

[2014-07-05 14:18] mbaeten commented on #229
macht er doch noch ^^ Hier mal ein Beispiel, aber das ist dir dann ja sowieso bewusst...

<pre>
Uncaught java.lang.ClassCastException exception in thread "main" in a method crash_greater_cppCpp.main() with signature ([Ljava/lang/String;)V
Exception in thread "main" java.lang.ClassCastException: java.lang.String cannot be cast to java.lang.Integer
    at crash_greater_cppCpp.main(Unknown Source) [f

[2014-07-05 14:29] ChrisKujawa commented on #229
Ja und was sagt dir die Exception ^^ also entweder is da nen Fehler im Greater d.h. neues Ticket dafuer oder das Testfile is falsch und vergleicht Strings auf greater?

Aber hat ja nix mit Lambda zutun deshalb mach ich das mal zu

[2014-07-05 14:29] #229 closed, assigned to ChrisKujawa

[2014-07-05 14:30] mbaeten commented on #229
das ist sinn und zweck von test files ;)
Hast du den dateinamen/pfad angepasst? das muss so oder so gemacht werden

[2014-07-05 14:35] ChrisKujawa commented on #229
Naja der Sinn was zu testen ja klar, aber wenn mir ne Ausgabe gibts dann kann ja sonst wat sein wenn ik die Eingabe net kenne ^^
Also Ticket auf fuer Greater mit Testfile (Eingabe) und Exception :)

[2014-07-05 14:36] ChrisKujawa commented on #229
und jo Pfad is angepasst mach glei nen push

[2014-07-05 14:39] mbaeten commented on #229
alles klar, danke ;D

[2014-07-05 17:07] ccebinger opened #230 "Editor Use Case"
Editor lokal zum Laufen bringen.
Setup für ScreenCasts/Screenshots.

[2014-07-05 17:07] ccebinger opened #231 "Editor Use Case: Rail String-Bibliothek."

[2014-07-05 17:47] muellerz opened #232 "Ausführung der Classfile aus dem Editor fehlerhaft"
Der Editor ruft den Compiler erfolgreich auf, aber die erstellte Classdatei wirft beim Ausführen eine Exception.

Der Aufruf lautet:
"java -XX:-UseSplitVerifier -cp <directory> <class name>"

Bei einem simplen HelloWorld wird folgende Exception geworfen:
Exception
in thread "main" java.lang.ClassFormatError: Truncated class file at java.lang.ClassLoader.defineClass1(Native Method) at java.lang.Cla

[2014-07-05 22:11] mbaeten opened #233 "Fehlende .io files"
Folgende .io Files fehlen, bitte ergänzen:

<pre>
../projekt-compiler/test/builtInCommand/math/add_floats.io
../projekt-compiler/test/builtInCommand/math/add_floats_fail.io
../projekt-compiler/test/builtInCommand/math/add_floats_negativ.io
../projekt-compiler/test/builtInCommand/math/add_negativ.io
../projekt-compiler/test/builtInCommand/math/add_negativ_fail.io
</pre>

[2014-07-06 11:04] #233 closed, assigned to tmichaelis

[2014-07-06 11:58] vincentbohlen opened #234 "Abschlusspräsentation vorbereiten"

[2014-07-07 09:23] ChrisKujawa commented on #232
Kann ich nicht nachvollziehen

[2014-07-07 09:25] ChrisKujawa commented on #232
Eingabe Datei mit der es nicht klappt am besten hier einfuegen oder schicken ansonsten kann ich dir nicht helfen ^^

[2014-07-07 09:32] kretzschi opened #235 "Error: Inconsistent stack height"
Nach dem ich den Bug für das "list append" fixen wollte, kam mir folgender Fehler unter:
**Fehlermeldung: Inconsistent stack height 3 != 2**

Grundlage war folgendes Rail Programm:
$'main'(--):
 \
  \
   \
     ---n-3:-o#

Auch bei:
$'main'(--):
 \
  \
   \
     ---1-3:-o#

Vielleicht der Fehler, weil ich zweimal in die gleiche "Variable" speichere (siehe ASTORE_1)?

[2014-07-07 11:42] kretzschi commented on #167
We need a push !

[2014-07-07 12:14] ChrisKujawa opened #236 "Create Lambda classfile writer for anonymous classes"
#219

[2014-07-07 12:24] muellerz commented on #230
Es gibt ein Tutorial zum Aufsetzen in "/tutorials". Eines zum Installieren von Qt5, sowie eines zum Builden des Editors.

[2014-07-07 12:30] muellerz commented on #232
Leon meinte, dass es vielleicht an einer zu neuen JVM-Version liegen kann.
java -version gibt folgende Ausgabe:
java version "1.7.0_55"
OpenJDK Runtime Environment (IcedTea 2.4.7) (7u55-2.4.7-1ubuntu1)
OpenJDK Client VM (build 24.51-b03, mixed mode, sharing)

Ich kann die generierten Class-Dateien nämlich auch nicht aus dem Terminal starten.

[2014-07-07 12:46] ChrisKujawa commented on #232
Lies mein Kommentar

[2014-07-07 12:51] ChrisKujawa commented on #232
und an der JVM Version liegt es nicht hab sogar eine neuere Version, also wie gesagt das Rail Programm mal hochladen oder per Mail schicken das ich es testen kann.

[2014-07-07 12:54] jdettlaff commented on #235
Accepted. Wird hoffentlich zum Daily fertig.

[2014-07-07 13:02] jdettlaff commented on #57
Habe jetzt zumindest mal die sehr simpel zu fixenden gefixt, die nervten so.

[2014-07-07 13:32] kretzschi commented on #232
Lieber im github, auch für zukünftige Sachen, so dass sich auch andere am Fixen erfreuen können :D

[2014-07-07 13:33] kretzschi commented on #235
Danke fürs Akzeptieren. Bis zum Daily wär enorm !

[2014-07-07 13:42] ChrisKujawa commented on #232
<pre>
 $ 'main'
 \
  -[Hello World]-o-#
</pre>

Baut mir super und laesst sich auch ausfuehren?

<pre>
$ java Main
Hello World
</pre>

[2014-07-07 13:45] ChrisKujawa commented on #232
Was sagt den der Compiler beim Ausfuehren?

[2014-07-07 13:59] ChrisKujawa commented on #232
Evtl. ein Tipp nimm mal dein Whitespace aus dem filenamen^^ (macht man unter linux net) vllt compiliert er es ja erst garnich das wuerde deine 0 Bytes in dem Classfile erklaeren.

[2014-07-07 14:01] kretzschi opened #237 "Help: How to test input"
Also, ich wollte gerade mal mit unserem compiler die Rail-Operation _i_ testen, also den Input. Nur weiß ich gerade nicht wie :question:

Wie muss ich dem Compiler sagen, dass er eine input Datei liest? Oder sind dafür die *.io Dateien da? Wenn ja, komme ich auch da nicht weiter, weil die so eine verrückte Syntax haben :D

Danke im Voraus!

[2014-07-07 14:06] ChrisKujawa opened #238 "add interfacemethodref to constantpool"
Create new method to add a interfacemethod ref to the constantpool

needed for the Lambda closure call

[2014-07-07 14:28] ChrisKujawa commented on #238
done

[2014-07-07 14:28] #238 closed, assigned to ChrisKujawa

[2014-07-07 14:29] #57 closed, assigned to mauriceAlthoff

[2014-07-07 14:31] muellerz commented on #232
Das Whitespace hatte dann bei mir auch rausgenommen, aber es hatte nichts geändert.
Der Compiler gab dann einen Speicherzugriffsfehler vom Backend aus.
Mit dem letzten Pull sieht es so aus:
**\* Error in `./Compiler': free(): invalid pointer: 0x08bb9c00 ***
Abgebrochen (Speicherabzug geschrieben)

[2014-07-07 14:39] ChrisKujawa commented on #232
Ganz ehrlich ich hab kein Ahnung was bei dir Falsch laeuft also bei mir compiliert es und ist auch Ausfuehrbar.

Deshalb gehen wir alles mal Schritt fuer Schritt durch:
1. Auf welchem Betriebssystem Arbeitest du und welche Version.
2. Welchen Compilier benutzt du ? (gcc/clang was anderes?)
3. Wie sieht dein c++ Compiler Aufruf aus?
   - Wie sieht die Rueckgabe aus?
4. Wie sieht dein rail Compiler

[2014-07-07 15:20] muellerz commented on #232
Ich glaub, meine VM will mich trollen.
Jetzt läuft Hello World wieder...
Aber der Vollständigkeit halber:

1) Ubuntu 14.04 LTS 32 Bit
2) gcc-Version 4.9.0 20140405 (experimental) [trunk revision 209157](Ubuntu 4.9-20140406-1ubuntu1)
3)
17:03:11 ***\* Build of configuration Debug for project Compiler ****
make all
Building file: ../src/frontend/parser/Parser.cpp
Invoking: GCC C++ Compiler
g++ -D__G

[2014-07-07 16:11] ChrisKujawa commented on #232
alles klar dann schliess ich das mal ^^

[2014-07-07 16:11] #232 closed, assigned to ChrisKujawa

[2014-07-07 16:19] jdettlaff commented on #235
Zwischenbericht, mache weiter, aber als Notiz halb an mich selbst:
Scheinbar liegt nach der conditional branch, die eine neue ArrayList erstellt (und jetzt auch das erste Element einfügt), mindestens ein Element mehr auf dem Operandenstack als wenn die branch nicht genommen wird.

[2014-07-07 16:24] ChrisKujawa opened #239 "[Parser] Bug: Lambda hat kein successor"
Siehe z.B. test/multiCharCommand/lambda/lambda_down.rail

[2014-07-07 16:35] ChrisKujawa commented on #239
Also ich habs mir mal weiter angesehen und anscheind wird kein successor angegeben wenn ein Lambda erkannt wird. Z.B. bei lambda_up

Sieht die main wie folgt aus:

[main]
1;&0;0,0
3;{};4,0
4;o;5,0

Erstens hat lambda in dem Beispiel dann kein succesor deshalb bricht die generierung ab zweitens fehler Node 2 ?

[2014-07-07 16:50] ChrisKujawa opened #240 "Bug: LocalVariables local variable table overflow"
Also das Problem was gerade noch existiert ist das die LocalVariableStash bei 3 anfaengt da ja im Bytecode oefters mal auch aload, oder astore benutzt wird.

Problem ist jetzt wenn keine Berechnung usw standfindet, somit keine lokale variable benutzt wird,  faengt der Stash immer noch bei 3 an und naechstes astore ist 4 was aber nicht  mit dem count zusammenpasst. Java mag es anscheind dann nicht

[2014-07-07 18:05] jdettlaff commented on #240
Accepted, und:
Hier können wir direkt mit einbauen: wir erhöhen momentan unnötig den variable count, wenn wir lokale Variablen benutzen. Wenn wir 10 mal astore_1 machen, braucht der local var count bloß 2 zu sein und nicht 20 (oder so). Geprüft mit Utility, die den local var count, der benötigt wird, berechnet (Class Editor).

[2014-07-07 18:43] jdettlaff commented on #235
Done!

[2014-07-07 18:43] #235 closed, assigned to jdettlaff

[2014-07-07 19:07] kretzschi commented on #220
Okay, also: ----1---2:---# funktioniert jetzt. Daraus macht er: [1,2]
Aber: ----n----1:--# funktioniert nicht, weil er ausgibt: [1,[]]

Das liegt daran, dass du im conditional branch nochmal add aufrufst und dadurch scheinbar die leere - gerade erstellte - Liste pushst.

Er soll ja nur im Fall von -----1---2:--# eine neue Liste erstellen und die beiden Werte reinpushen. Wenn schon eine Liste exist

[2014-07-08 01:27] jdettlaff commented on #220
Habs mit #235 zusammen gefixt.

[2014-07-08 01:27] #220 closed, assigned to kretzschi

[2014-07-08 01:31] jdettlaff commented on #240
Nicht done... da hab ich doch irgendeine Nummer verwechselt. Bin jetzt hier dran.

[2014-07-08 01:51] jdettlaff commented on #240
Jetzt done. Dafür kommt dann im Fall deiner Testdatei ein anderer Fehler. Viel Spaß damit.

[2014-07-08 01:51] #240 closed, assigned to jdettlaff

[2014-07-08 01:54] jdettlaff commented on #190
Ist es korrekt dass hier kein assignee (mehr?) drin ist? Falls ja, gebt's mir.

[2014-07-08 14:56] mauriceAlthoff commented on #167
need's forther testing bud works for my examples

[2014-07-08 14:56] #167 closed, assigned to mauriceAlthoff

[2014-07-08 15:00] mauriceAlthoff opened #241 "Debugger einarbeiten"
kleines Beispiel mit Java Plattform Debugger Architecture

[2014-07-08 15:38] ChrisKujawa commented on #167
nice also equal true und false geht bei mir gerad getestet ! Top!

[2014-07-08 17:52] ChrisKujawa commented on #236
Example:

<pre>
$ javap -c -v LambdaBytecode\$1.class
Classfile /Users/christopher/Documents/cb-projekt/SWPSoSe14/projekt-compiler/JavaByteCode/build/classes/LambdaBytecode$1.class
  Last modified Jul 7, 2014; size 696 bytes
  MD5 checksum 188a50e2fd8fa0b1d6f187d889a953c0
  Compiled from "LambdaBytecode.java"
final class LambdaBytecode$1 implements Lambda
  SourceFile: "LambdaBytecode.java"
  Encl

[2014-07-08 18:11] #198 closed, assigned to hanintalal

[2014-07-08 18:12] hanintalal commented on #194
@leonbornemann können wir morgen darüber an der Uni besprechen ?

[2014-07-09 09:11] muellerz commented on #228
Zitat aus dem Esolang wiki: http://esolangs.org/wiki/Rail#Movement

<pre>
All of the built-in command characters described below are considered universal junctions for the purposes of movement.
</pre>

Da

<pre>
    /
---*
</pre>

nicht erlaubt ist, dürfte das obige Beispiel auch nicht erlaubt sein.

Ebenso heißt es weiter unten

<pre>
Junctions and builtins can be put at the primary connection lo

[2014-07-09 09:58] leonbornemann commented on #239
Ich schaus mir an sollte hoffentlich schnell zu lösen sein, muss ein bug im Parser sein

[2014-07-09 10:01] leonbornemann opened #242 "Milestone Präsentation für Frontend erstellen"

[2014-07-09 10:02] leonbornemann opened #243 "Milestone Präsentation für Organisatorisches erstellen"

[2014-07-09 10:04] leonbornemann opened #244 "Milestone Präsentation für Organisatorisches erstellen"

[2014-07-09 10:09] leonbornemann commented on #244
Dublikat, weil ich zu dumm war github zu bedienen ;)

[2014-07-09 10:09] #244 closed, assigned to leonbornemann

[2014-07-09 10:15] leonbornemann commented on #239
Also bei test/multiCharCommand/lambda/lambda_call_in_other_function.rail funktioniert alles (Der Ast ist korrekt und der Lambda Knoten hat einen Nachfolger) ich schau mir mal lambda_up im speziellen an.

[2014-07-09 11:04] leonbornemann commented on #239
fixed

[2014-07-09 11:04] #239 closed, assigned to leonbornemann

[2014-07-09 11:47] ChrisKujawa commented on #236
<pre>
 cafe babe
 0000
 0033
 002b #count constantpool
 0a 0006 0019 //method
 09 001a 001b //field
 08 001c //string
 0a 001d 001e
 07 001f
 07 0020
 07 0021 //
 01 0006 3c69 6e69 743e
 01 0003 2829 56
 01 0004 436f 6465
 01 000f 4c69 6e65 4e75 6d62 6572 5461 626c 65
 01 0012 4c6f 6361 6c56 6172 6961 626c 6554 6162 6c65
 01 0004 7468 6973
 01 0000
 01 000c 496e 6e65 7243 6c 6173 7365 73
 01 0012

[2014-07-09 12:57] leonbornemann opened #245 "Graphs unmarshall deserialisiert nur eine Funktion?"
Beim testen von #170 ist mir aufgefallen dass anscheinend in der unmarshall Methode immer nur eine Funktion deserialisert wird, auch wenn mehrere in der Datei stehen.
Kann das jemand bestätigen, oder widerlegen, der vorher daran gearbeitet hat @Zelldon oder @SilverBln ?
Falls das der Fall ist kann sich jemand aus dem Frontend da ja mal ransetzen.

[2014-07-09 12:57] leonbornemann commented on #170
Ist jetzt erledigt, beim Testen ist mir aber aufgefallen dass eventuell beim deserialiseren noch nicht alle Funktionen deserialisiert werden? Habe mal ein neuen Issue aufgemacht:  #245

[2014-07-09 12:57] #170 closed, assigned to leonbornemann

[2014-07-09 13:00] ChrisKujawa commented on #245
Kann eig nicht sein da functionen via [ ] erkannt und deserialisiert werden

[2014-07-09 13:00] leonbornemann commented on #151
#188 hat das hier mit eingeschlossen

[2014-07-09 13:00] #151 closed, assigned to nobody

[2014-07-09 13:03] leonbornemann commented on #245
Hmm also ich hab gerade einen Ast mit zwei Funktionen deserialisieren lassen, und nachdem er mit der ersten fertig war ist der Debugger auf jeden fall nichtmehr in die 'unmarshall_line' Methode reingesprungen, vielleicht lag das auch an was anderem, ich prüfs mal nochmal genauer nach

[2014-07-09 13:09] ChrisKujawa commented on #245
Poste mal das Beispiel

[2014-07-09 13:17] leonbornemann commented on #245
-------------Beginn Ast Datei nach dieser Zeile---------------------
[main]
1;[1];2,0
2;{hiho};3,0
3;o;4,0
4;#;0,0
[hiho]
1;[1];2,0
2;#;0,0
-------------Ende Ast-Datei---------------------
Ich glaube der Fehler liegt in 'skip_empty_lines' - Wenn ich eine leere Zeile vor [hiho] einfüge wird beides geparst.

[2014-07-09 13:20] leonbornemann commented on #245
Ich würde mich da mal drum kümmern und da weiter nachforschen

[2014-07-09 13:21] leonbornemann commented on #245
esseidenn du weißt sofort was es ist und kannst es direkt beheben

[2014-07-09 13:39] ChrisKujawa commented on #245
Na du hast es doch gerad selber geschrieben was es ist ? :)

[2014-07-09 13:40] leonbornemann commented on #245
Jo zumindest wo der Fehler liegen müsste ich fix es gleich.

[2014-07-09 14:08] ChrisKujawa commented on #236
WOHOOOO successful created first VALID lambda anonymous class file

[2014-07-09 14:17] #245 closed, assigned to leonbornemann

[2014-07-09 14:44] mbaeten commented on #96
läuft und ist im jenkins. haskell muss meinen pull request noch akzeptieren, dann ist alles durch

[2014-07-09 14:44] #96 closed, assigned to mbaeten

[2014-07-09 14:44] mbaeten commented on #94
done

[2014-07-09 14:44] #94 closed, assigned to mbaeten

[2014-07-09 14:49] mbaeten commented on #144
Schon lange abgeschlossen. Backend fehlt noch, aber
1. müssen die es selber implementieren und
2. gibt es dort atm keine ausgebbaren Fehler

[2014-07-09 14:49] #144 closed, assigned to mbaeten

[2014-07-09 14:51] mbaeten commented on #100
was ist hiermit?

[2014-07-09 14:51] mbaeten commented on #214
anyone?

[2014-07-09 14:57] mbaeten commented on #142
Im Backend sind keine vorhanden

[2014-07-09 14:57] #142 closed, assigned to nobody

[2014-07-09 15:26] kretzschi commented on #190
Tschuldige, hab nicht mitbekommen, dass Vincent sich rausgenommen hat. Stehe jetzt korrekt drin.

[2014-07-09 15:34] ChrisKujawa opened #246 "Bug: Lambda : fix Enclosing attr"
the enclosing is only for main class for now

[2014-07-09 15:48] ChrisKujawa opened #247 "Bug Lambda: fix inner class attr"
Problem we must calc. how many anonymous classes will be exists and set them as attribut on the main class

[2014-07-09 15:50] ChrisKujawa commented on #100
sinnloses ticket...

[2014-07-09 15:50] #100 closed, assigned to mauriceAlthoff

[2014-07-09 16:00] kretzschi opened #248 "Wrong target jump (branching)"
Hab gerade weiter an der Type Methode geschrieben und erhalte folgende Ausgabe bei javap:

[code]

Jedoch soll er nicht auf 48 springen, sondern auf 49. Der conditional_body sieht nämlich so aus:

[code]

Wenn er richtig springt, müsste es laufen.

Testdatei:

[code]

Erwartete Ausgabe:

[code]

[2014-07-09 16:06] kretzschi commented on #248
Ach mist, ich muss ja noch pushen xD

[2014-07-09 16:53] ChrisKujawa commented on #247
done

[2014-07-09 16:53] #247 closed, assigned to ChrisKujawa

[2014-07-09 16:53] ChrisKujawa commented on #236
yes baby done

[2014-07-09 16:53] #236 closed, assigned to ChrisKujawa

[2014-07-09 16:56] ChrisKujawa commented on #219
- Lambda_up
- Lambda_down
- Lambda_left
- Lambda_func

successfully build and run!!!!!!!!

[2014-07-09 17:01] ChrisKujawa commented on #248
versuchs nochmal :)

[2014-07-09 17:01] #248 closed, assigned to ChrisKujawa

[2014-07-09 17:09] kretzschi commented on #248
Danke :+1:

[2014-07-09 17:44] kretzschi commented on #219
Sehr gut! :100:

[2014-07-09 18:38] jdettlaff opened #249 "Schleifen implementieren (junctions die zu bestehendem Code zurückgehen)"

[2014-07-09 18:47] ChrisKujawa commented on #161
:beers:

[2014-07-09 18:56] kretzschi opened #250 "Change ostream from javas println to print"

[2014-07-09 19:01] kretzschi opened #251 "Pushing '€' causes "illegal UTF8 string in constan pool""

[2014-07-09 19:08] kretzschi opened #252 "Der ':' Operator fügt ein Element an der falschen Stelle in die Liste"

[2014-07-09 19:10] kretzschi opened #253 "multicut.cpp gibt den fehler "stack size to large""

[2014-07-09 19:20] KosticS opened #254 "Cross-Testing Ausgaben für das Frontend auswerten"
Ich bin die Konsolenausgabe bei Jenkins durchgegangen und werde die ausgebenen Fehler im Frontend überprüfen ob es tatsächlich falsch geparst wird.

[2014-07-09 20:53] vincentbohlen commented on #252
Ich glaube jetzt, dass nicht ~ falsch ist, sondern :
esolang:
':' Cons (a b -- c)
    c is a list cell with a == cdr(c) and b == car(c)
    Pre: is_list(a)
    Post: is_list(c) && ~is_nil(c)

und http://en.wikipedia.org/wiki/CAR_and_CDR:
Thus, the expression (car (cons x y)) evaluates to x, and (cdr (cons x y)) evaluates to y.

Das hieße, dass die Elemente am Anfang der liste eingefügt werden müss

[2014-07-09 22:07] KosticS commented on #228
Ich habe es mit allen Richtungen getestet und leider wird es von uns ohne Fehlerausgabe geparst. Darum müssen wir uns also noch kümmern. Ich habe die Testfiles unter movement/rail hinzugefügt. Sie beginnen alle mit DirectionNode...

[2014-07-10 04:00] ChrisKujawa commented on #252
Na ~ habe ich nach dem esolang impl ich habe auch mehr mals nach geguckt weil das net mit dem interpreter passt glaube

[2014-07-10 08:46] #194 closed, assigned to hanintalal

[2014-07-10 08:49] hanintalal commented on #211
#242 sie sind die Gleiche Thema

[2014-07-10 09:50] ChrisKujawa opened #255 "add Fields to Lambda anonymous class"
For each variable which is used in the closure method add a field in the class

<pre>

public class Main {

  public static void main(String[] args) {
    final String str = "Hello";
    final Integer i = 5;
    Lambda la = new Lambda() {
      public void closure() {
        System.out.println(str);
        System.out.println(i);
      }
    };
    System.out.println(str);
    System.out.println(

[2014-07-10 09:53] ChrisKujawa commented on #255
#219

[2014-07-10 10:04] kretzschi commented on #252
Also, Vincent meinte wohl ':'
Aber der Testcase lässt sich gerade bei mir nicht ausfüllen, weil schon wieder eine inkonsistente Stack-Höhe geworfen wird -.-

[2014-07-10 12:32] ChrisKujawa commented on #255
<b>TODO</b>
- Lambda_classfile_writer
  - ~~add ctor param Local_variable_stash~~
  - adjust WriteFields: creates for each entry in stash a new field (optional: only fields which are really needed)
- Bytecode
  - ~~lambdas vector which contains the created lambdas~~
  - ~~method to get the lambdas and one to check if given lambda was created by the code~~
  - ~~add method get_local_variable_stash~

[2014-07-10 14:40] kretzschi opened #256 "Again: Inconsistent stack height 0 != 1"
In der _list_push_ tritt wieder der besagte Fehler auf.

z.B.

[code]

[2014-07-10 14:51] jdettlaff commented on #256
Jo, hab nen Verdacht woran es liegt (s. #248). Wird gefixt sobald ich zu Hause bin heute abend.

[2014-07-10 15:01] #256 closed, assigned to jdettlaff

[2014-07-10 15:01] jdettlaff commented on #256
Mir war eh grad langweilig. Jo das wars. Fixed.

[2014-07-10 17:50] ChrisKujawa commented on #246
removed attr

[2014-07-10 17:50] #246 closed, assigned to ChrisKujawa

[2014-07-11 08:24] kretzschi commented on #190
[code]

Ausgabe:

[code]

[2014-07-11 08:24] #190 closed, assigned to kretzschi

[2014-07-11 08:42] hanintalal commented on #254
@sandraKostic send mir bitte welche hast du noch nicht gemacht,damit ich mit dir arbeiten kann :+1:

[2014-07-11 10:30] KosticS commented on #254
@hanintalal ich hab von unten an begonnen. Du kannst gerne am Anfang beginnen und wir treffen uns in der Mitte. :)

[2014-07-11 19:50] kretzschi commented on #250
done

[2014-07-11 19:50] #250 closed, assigned to nobody

[2014-07-13 15:03] vincentbohlen opened #257 "func-simple hängt sich auf im Frontend"
zumindest bei mir?

[2014-07-13 15:05] vincentbohlen opened #258 "fakurek erstellt identische methoden"
Wenn ich fakurek durchlaufen lasse, bekomme ich wieder für main und für faku den selben methodenkörper. eine konkatenation aus dem anfang von main und dem ganzen faku. der output von main fehlt aber. es gibt auch keinen methodenaufruf im opcode

[2014-07-13 15:11] ChrisKujawa commented on #258
Schreib mal deine Ausgabe mit rein und das Beispiel das man das etwas nachvoll ziehen kann bitte :)

[2014-07-13 15:13] vincentbohlen commented on #258
Keine Ausgabe, kompiliert also normal und "läasst sich auch ausführen" gibt halt auch keine ausgabe.

Code faku:
opcode [B2] - 0000: getstatic 142 [Fieldref: Main.stack, type = java.util.ArrayDeque]
opcode [B6] - 0003: invokevirtual 127 [Methodref: java.util.ArrayDeque.pop, parameter = (), returns = java.lang.Object]
opcode [3A] - 0006: dstore 4
opcode [19] - 0008: aload 4
opcode [B2] - 0010: gets

[2014-07-14 13:59] #214 closed, assigned to jdettlaff

[2014-07-14 14:08] jdettlaff opened #259 "Branch führt zu inkorrektem Graphen"
Dieses Beispiel:

<pre>
$ 'main'
 \      /-1o#
  \--0-&lt;
        \-2o#
</pre>

Führt zu diesem Graphen:

<pre>
[main]
1;0;2,0
2;&lt;;3,3
3;2;4,0
4;o;5,0
5;#;0,0
</pre>

Die obere branch fehlt komplett.

[2014-07-14 19:13] #259 closed, assigned to leonbornemann

[2014-07-15 10:39] ChrisKujawa commented on #255
done
checked for lambda_call_in_other_function
and lambda_func

Problem with nested_lambda and lambda_directions2

[2014-07-15 10:39] #255 closed, assigned to ChrisKujawa

[2014-07-15 10:58] #193 closed, assigned to tmichaelis

[2014-07-15 10:58] #7 closed, assigned to nobody

[2014-07-15 10:58] #6 closed, assigned to nobody

[2014-07-15 14:26] ChrisKujawa commented on #85
wurde das jetzt schon getestet?

[2014-07-16 17:44] jdettlaff commented on #253
Kann ich nicht nachvollziehen. Bei mir Ausgabe korrekt. Schließen?

[2014-07-16 18:30] kretzschi commented on #253
Wenns läuft dann läuft's :+1:

[2014-07-16 18:34] jdettlaff commented on #253
BÄÄMMMMM

[2014-07-16 18:34] #253 closed, assigned to jdettlaff